
<GridLayout
rows="auto,*,auto" 
columns="*">

<StackLayout
    row="0" col="0" 
    orientation="vertical"
    horizontalAlignment="center">
    <Image
        *ngIf="DetailData.MasterMerchant_Picture != ''" [src]="APIURL+DetailData.MasterMerchant_Picture"></Image>
    <Image 
        *ngIf="DetailData.MasterMerchant_Picture == ''" src="~/assets/image/no-image.png"></Image>    
    <Label 
        class="list-group-DetailData-heading ubuntu-medium"
        marginTop="10"
        marginLeft="15"
        marginRight="15"
        marginBottom="10"
        fontSize="16" 
        [text]="DetailData.MasterMerchant_Name">
    </Label>       
</StackLayout>
    
<ScrollView orientation="vertical" row="1" col="0" >

    <StackLayout
        orientation="vertical">
        
        <GridLayout
            rows="*,auto,auto,auto,auto" 
            columns="*,*">
            
            <Label
                row="0" colspan="2" 
                class="ubuntu-regular" 
                [text]="DetailData.MasterMerchant_Description"
                textWrap="true"
                marginTop="5"
                marginLeft="15"
                marginRight="15"
                marginBottom="10"
                paddingBottom="10"
                borderBottomWidth="1"
                borderColor="#EEEEEE"
                fontSize="12">
            </Label>   
            
            <StackLayout
                row="1" col="0"    
                orientation="horizontal"
                horizontalAlignment="Left">
                <Label 
                    text="&#Xf02b;" 
                    marginTop="3"
                    marginLeft="15" 
                    marginBottom="10"
                    fontSize="12"
                    color="#616161" 
                    class="fas"></Label>
                <Label 
                    class="ubuntu-regular" 
                    [text]="DetailData.MasterStoreCategory_Name"
                    marginTop="3"
                    marginLeft="10"
                    marginBottom="10"
                    color="#616161"
                    fontSize="12">
                </Label>     
            </StackLayout>    
            <StackLayout
                row="1" col="1"
                orientation="horizontal"
                horizontalAlignment="right">
                <Label 
                    text="&#Xf879;" 
                    marginTop="3"
                    marginRight="15" 
                    marginBottom="10"
                    fontSize="12"
                    color="#616161" 
                    class="fas"></Label>
                <Label 
                    class="ubuntu-regular" 
                    [text]="DetailData.MasterMerchant_PhoneNumber"
                    textWrap="true"
                    marginTop="3"
                    marginRight="10"
                    marginBottom="10"
                    color="#616161"
                    fontSize="12">
                </Label>      
            </StackLayout>

            <StackLayout
                row="2" colspan="2"
                orientation="horizontal"
                horizontalAlignment="left">
                <Label 
                    text="&#Xf0e0;" 
                    marginTop="3"
                    marginLeft="15" 
                    marginBottom="10"
                    fontSize="12"
                    color="#616161" 
                    class="far"></Label>
                <Label 
                    class="ubuntu-regular" 
                    [text]="DetailData.MasterMerchant_Email"
                    textWrap="true"
                    marginTop="3"
                    marginLeft="10" 
                    marginRight="15"
                    marginBottom="10"
                    color="#616161"
                    fontSize="12">
                </Label>      
            </StackLayout>
            <StackLayout
                row="3" colspan="2"
                orientation="horizontal"
                horizontalAlignment="left">
                <Label 
                    text="&#Xf024;" 
                    marginTop="3"
                    marginLeft="15" 
                    marginBottom="10"
                    fontSize="12"
                    color="#616161" 
                    class="fas"></Label>
                <Label 
                    class="ubuntu-regular" 
                    [text]="DetailData.MasterFloor_Name + ', Unit : ' + DetailData.MasterMerchant_UnitFloor"
                    textWrap="true"
                    marginTop="3"
                    marginLeft="10" 
                    marginBottom="10"
                    color="#616161"
                    fontSize="12">
                </Label>      
            </StackLayout>
            <StackLayout
                row="4" colspan="2"
                orientation="horizontal"
                horizontalAlignment="left">
                <Label 
                    text="&#Xf0c1;" 
                    marginTop="3"
                    marginLeft="15" 
                    marginBottom="10"
                    fontSize="12"
                    color="#616161" 
                    class="fas"></Label>
                <Label 
                    class="ubuntu-regular" 
                    [text]="DetailData.MasterMerchant_WebLink"
                    textWrap="true"
                    marginTop="3"
                    marginLeft="10"
                    marginRight="15"
                    marginBottom="10"
                    color="#616161"
                    fontSize="12">
                </Label>      
            </StackLayout>     
        </GridLayout>    

    </StackLayout>
</ScrollView>

<StackLayout
    row="2" col="0" 
    width="100%"
    marginTop="3"
    background="#00897B"
    orientation="horizontal"
    horizontalAlignment="center"
    (tap)="CloseClick()">
    <Label 
        class="ubuntu-medium" 
        text="Close Detail"
        marginTop="3"
        marginLeft="10"
        marginRight="10"
        marginBottom="10"
        paddingTop="10"
        paddingBottom="5"
        color="#FFFFFF"
        fontSize="14">
    </Label>      
</StackLayout>   


</GridLayout>
