.home-bg-color{
	font-size: 20;
	background: #108dc7;
}
.profile-image{
	margin-top: 20px;
	border-radius: 100%;
}
.profile-name{
	font-family: "Ubuntu-Regular";
	color : #fff;
	text-align: center;
}
.profile-info{
	margin-top: 20px;
	margin-left: 40px;
	border-radius: 100%;
	font-size: 20;
	font-family: "Ubuntu-Bold";
	font-weight: bold;
}
.profile-basic-info{
	margin-left: 40px;
	border-radius: 50%;
	font-size: 15;
	font-family: "Ubuntu-Regular";
}

.btn-primary{
    background: #fff;
    color:#000;
}

.logout-font{
	font-size: 16;
	font-family: "Ubuntu-Regular";
	color: #fff;
}