
<GridLayout 
    rows="auto,auto,*"
    background="#ECEFF1">
    <GridLayout
        row="0" 
        rows="*"
        columns="auto,*"
        background="#FFFFFF"
        height="50"
        id="bar">
        <Label
            row="0" col="0"
            text="&#Xf060;" 
            fontSize="20"
            horizontalAlignment="center"
            verticalAlignment="center"
            paddingLeft="15"
            paddingRight="25"
            color="#212121" 
            class="fas"
            (tap)="BackToPageBefore()">
        </Label>
        <Label 
            row="0" col="1"
            text="My Profile" 
            class="ubuntu-regular"
            color="#212121"
            marginRight="5"
            horizontalAlignment="left"
            verticalAlignment="center"
            fontSize="18">
        </Label>
    </GridLayout>


    <ScrollView row="1" orientation="vertical" id="scrollview">
        <StackLayout
            *ngIf="DetailData != undefined"
            orientation="vertical"
            marginBottom="10">

            <!-- Profile Name -->
            <GridLayout
                rows="auto,auto" 
                columns="auto,*"
                backgroundColor="#ECEFF1"
                marginTop="10"
                marginBottom="5">
                
                <StackLayout 
                    row="0"
                    col="0"
                    width="60"
                    height="60"
                    marginLeft="15"
                    borderRadius="100%"
                    background="#80CBC4"
                    orientation="vertical" 
                    verticalAlignment="center">
                    <label 
                        text="{{DetailData.MasterUserData_Name[0]}}" 
                        class="ubuntu-regular" 
                        fontSize="20" 
                        color="#212121"
                        verticalAlignment="center" 
                        horizontalAlignment="center">
                    </label>
                </StackLayout>
                <StackLayout    
                    row="0"
                    col="1"
                    verticalAlignment="center"  
                    orientation="vertical">
                    <Label
                        class="ubuntu-medium"
                        marginLeft="10"
                        marginRight="5"
                        marginBottom="2"
                        fontSize="16" 
                        [text]="DetailData.MasterUserData_Name"
                        verticalAlignment="center"
                        horizontalAlignment="left"
                        color="#212121">
                    </Label>
                    <Label
                        class="ubuntu-regular"
                        marginLeft="10"
                        marginRight="5"
                        marginBottom="2"
                        fontSize="16" 
                        [text]="DetailData.MasterUserData_Username"
                        verticalAlignment="center"
                        horizontalAlignment="left"
                        color="#616161">
                    </Label>
                </StackLayout>


            </GridLayout>

             <!--Profile Info-->
             <Label
                class="ubuntu-medium"
                marginTop="10"
                marginLeft="15"
                marginRight="15"
                marginBottom="2"
                fontSize="16" 
                text="Profile Info"
                verticalAlignment="center"
                horizontalAlignment="left"
                color="#212121">
            </Label>
            <GridLayout
                rows="auto,auto" 
                columns="*,*"
                backgroundColor="#FFFFFF"
                borderWidth="2"
                borderColor="#ECEFF1"
                borderRadius="5"
                padding="5"
                paddingTop="10"
                paddingBottom="10"
                marginLeft="15"
                marginright="15"
                marginTop="5"
                marginBottom="5">
                
                <StackLayout    
                    row="0"
                    colspan="2"
                    marginTop="5"
                    verticalAlignment="top"
                    horizontalAlignment="left"  
                    orientation="vertical">
                    <Label
                        class="ubuntu-medium"
                        marginTop="8"
                        marginLeft="5"
                        marginRight="5"
                        marginBottom="2"
                        fontSize="16" 
                        text="Date of Bird"
                        verticalAlignment="center"
                        horizontalAlignment="left"
                        color="#616161">
                    </Label>
                    <Label
                        class="ubuntu-medium"
                        marginTop="2"
                        marginLeft="5"
                        marginRight="5"
                        marginBottom="2"
                        fontSize="16" 
                        text="{{DetailData.MasterUserData_DOB | date: 'dd MMMM yyyy'}}"
                        textWrap="true"
                        verticalAlignment="center"
                        horizontalAlignment="left"
                        color="#212121">
                    </Label>

                    <Label
                        class="ubuntu-medium"
                        marginTop="8"
                        marginLeft="5"
                        marginRight="5"
                        marginBottom="2"
                        fontSize="16" 
                        text="Gender"
                        verticalAlignment="center"
                        horizontalAlignment="left"
                        color="#616161">
                    </Label>
                    <Label
                        class="ubuntu-medium"
                        marginTop="2"
                        marginLeft="5"
                        marginRight="5"
                        marginBottom="2"
                        fontSize="16" 
                        text="{{(DetailData.MasterUserData_Gender == 1)? 'Male' : 'Female'}}"
                        textWrap="true"
                        verticalAlignment="center"
                        horizontalAlignment="left"
                        color="#212121">
                    </Label>

                    <Label
                        class="ubuntu-medium"
                        marginTop="8"
                        marginLeft="5"
                        marginRight="5"
                        marginBottom="2"
                        fontSize="16" 
                        text="Birth Place"
                        verticalAlignment="center"
                        horizontalAlignment="left"
                        color="#616161">
                    </Label>
                    <Label
                        class="ubuntu-medium"
                        marginTop="2"
                        marginLeft="5"
                        marginRight="5"
                        marginBottom="2"
                        fontSize="16" 
                        text="{{DetailData.MasterUserData_BirthPlace}}"
                        textWrap="true"
                        verticalAlignment="center"
                        horizontalAlignment="left"
                        color="#212121">
                    </Label>

                    <Label
                        class="ubuntu-medium"
                        marginTop="8"
                        marginLeft="5"
                        marginRight="5"
                        marginBottom="2"
                        fontSize="16" 
                        text="E-mail"
                        verticalAlignment="center"
                        horizontalAlignment="left"
                        color="#616161">
                    </Label>
                    <Label
                        class="ubuntu-medium"
                        marginTop="2"
                        marginLeft="5"
                        marginRight="5"
                        marginBottom="2"
                        fontSize="16" 
                        text="{{DetailData.MasterUserData_Email}}"
                        textWrap="true"
                        verticalAlignment="center"
                        horizontalAlignment="left"
                        color="#212121">
                    </Label>

                    <Label
                        class="ubuntu-medium"
                        marginTop="8"
                        marginLeft="5"
                        marginRight="5"
                        marginBottom="2"
                        fontSize="16" 
                        text="Jon Position"
                        verticalAlignment="center"
                        horizontalAlignment="left"
                        color="#616161">
                    </Label>
                    <Label
                        class="ubuntu-medium"
                        marginTop="2"
                        marginLeft="5"
                        marginRight="5"
                        marginBottom="2"
                        fontSize="16" 
                        text="{{DetailData.MasterJobPosition_Name}}"
                        textWrap="true"
                        verticalAlignment="center"
                        horizontalAlignment="left"
                        color="#212121">
                    </Label>

                </StackLayout>
                <StackLayout    
                    row="1"
                    colspan="2"
                    marginTop="5"
                    verticalAlignment="top"
                    horizontalAlignment="left"  
                    orientation="vertical">

                    <Label
                        class="ubuntu-medium"
                        marginTop="8"
                        marginLeft="5"
                        marginRight="5"
                        marginBottom="2"
                        fontSize="16" 
                        text="Address"
                        verticalAlignment="center"
                        horizontalAlignment="left"
                        color="#616161">
                    </Label>
                    <Label
                        class="ubuntu-medium"
                        marginTop="2"
                        marginLeft="5"
                        marginRight="5"
                        marginBottom="2"
                        fontSize="16" 
                        text="{{DetailData.MasterUserData_Address}}"
                        textWrap="true"
                        verticalAlignment="center"
                        horizontalAlignment="left"
                        color="#212121">
                    </Label>

                </StackLayout>

            </GridLayout>

            <GridLayout 
                rows="*,*"
                columns="*,*">

                <StackLayout  
                    row="0" colspan="2"
                    marginLeft="15"
                    marginRight="15"
                    marginTop="10"
                    marginBottom="10">

                    <StackLayout  
                        row="1" col="1"  
                        horizontalAlignment="center"
                        orientation="horizontal"
                        borderWidth="1"
                        borderColor="#263238"
                        background="#263238"
                        borderRadius="3"
                        width="100%"
                        (tap)="ChangePasswordClick()">
                        <Label
                            text="&#Xf023;" 
                            fontSize="16"
                            paddingLeft="10"
                            paddingRight="5"
                            paddingTop="10"
                            paddingBottom="10"
                            style.textAlignment="center"
                            color="#FFFFFF" 
                            class="fas">
                        </Label> 
                        
                        <Label 
                            text="Change Password" 
                            class="ubuntu-regular" 
                            fontSize="16" 
                            color="#FFFFFF"
                            paddingTop="10"
                            paddingBottom="10"
                            paddingRight="10"
                            style.textAlignment="center">
                        </Label> 
                    </StackLayout>
                    
                </StackLayout>

                <StackLayout  
                    row="1" colspan="2"
                    marginLeft="15"
                    marginRight="15"
                    marginTop="10"
                    marginBottom="10">

                    <StackLayout  
                        row="1" col="1"  
                        horizontalAlignment="center"
                        orientation="horizontal"
                        borderWidth="1"
                        borderColor="#009688"
                        background="#009688"
                        borderRadius="3"
                        width="100%"
                        (tap)="SignOut()">
                        <Label
                            text="&#Xf2f5;" 
                            fontSize="16"
                            paddingLeft="10"
                            paddingRight="5"
                            paddingTop="10"
                            paddingBottom="10"
                            style.textAlignment="center"
                            color="#FFFFFF" 
                            class="fas">
                        </Label> 
                        
                        <Label 
                            text="Sign Out" 
                            class="ubuntu-regular" 
                            fontSize="16" 
                            color="#FFFFFF"
                            paddingTop="10"
                            paddingBottom="10"
                            paddingRight="10"
                            style.textAlignment="center">
                        </Label> 
                    </StackLayout>
                    
                </StackLayout>
            
            </GridLayout>
            
        </StackLayout>
    </ScrollView>
  

</GridLayout>



