
<GridLayout 
    rows="auto,*">
    <GridLayout
        row="0" 
        rows="*"
        columns="auto,*"
        background="#FFFFFF"
        height="50"
        id="bar">
        <Label
            row="0" col="0"
            text="&#Xf060;" 
            fontSize="20"
            horizontalAlignment="center"
            verticalAlignment="center"
            paddingLeft="15"
            paddingRight="25"
            color="#212121" 
            class="fas"
            (tap)="BackToPageBefore()">
        </Label>
        <Label 
            row="0" col="1"
            text="Choose Store Category" 
            class="ubuntu-regular"
            color="#212121"
            marginRight="5"
            horizontalAlignment="left"
            verticalAlignment="center"
            fontSize="18">
        </Label>
    </GridLayout>
    
    <PullToRefresh
    *ngIf="isStoreCategoryListEmpty == false"
    row="1" 
    (refresh)="refreshList($event)" 
    color="black">
        <ListView  [items]="ListData" (itemTap)="onItemTap($event)" separatorColor="#fff">
            <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                <!-- The item template can only have a single root view container (e.g. GridLayout, StackLayout, etc.)-->
                <GridLayout
                    rows="*"
                    columns="auto,*">
                    <Label
                        row="0" col="0"
                        text="&#Xf111;" 
                        fontSize="15"
                        horizontalAlignment="center"
                        verticalAlignment="center"
                        marginLeft="15"
                        marginRight="15"
                        paddingTop="15"
                        paddingBottom="15"
                        color="#424242" 
                        class="far">
                    </Label>
                    <Label
                        row="0" col="1" 
                        [text]="item.MasterStoreCategory_Name" 
                        class="ubuntu-regular"
                        paddingLeft="5"
                        paddingRight="5"
                        paddingTop="15"
                        paddingBottom="15"
                        marginRight="5"
                        color="#000"
                        fontSize="15">
                    </Label>
                </GridLayout>
            </ng-template>
        </ListView>
    </PullToRefresh>


    <StackLayout 
        row="1" 
        *ngIf="isStoreCategoryListEmpty == true"
        orientation="vertical" 
        verticalAlignment="center">
        <Label 
            row="0" col="0"    
            text="&#Xf5c2;" 
            marginLeft="5" 
            fontSize="150"
            color="#90A4AE"
            horizontalAlignment="center" 
            class="far"></Label>
        <label 
            text="NO LIST FOUND!" 
            class="ubuntu-medium" 
            fontSize="18"
            marginTop="10" 
            color="#90A4AE"
            horizontalAlignment="center">
        </label>

        <GridLayout
            rows="auto"
            columns="auto,auto,auto" 
            orientation="horizontal"
            margin="15"
            horizontalAlignment="center"
            (tap)="BackAfterListEmpty()">
            <label 
                row="0" col="0"
                text="Don't worry, tap to " 
                class="ubuntu-medium" 
                fontSize="14"
                color="#90A4AE"
                horizontalAlignment="center">
            </label>
            <label 
                row="0" col="1"
                text="Refresh" 
                class="ubuntu-medium" 
                fontSize="14"
                color="#00695C"
                horizontalAlignment="center">
            </label>
            <label 
                row="0" col="2"
                text=" this Page. " 
                class="ubuntu-medium" 
                fontSize="14"
                color="#90A4AE"
                horizontalAlignment="center">
            </label>
        </GridLayout>

    </StackLayout>



</GridLayout>



