<StackLayout orientation="vertical" width="100%" height="100%"
    backgroundColor="#CFD8DC">
    <!-- Header -->
    <GridLayout
        rows="*"
        columns="90,*,auto"
        width="100%"
        backgroundColor="#004D40"
        height="8%">

        <Image 
            src="~/assets/image/app-logo-first-white.png"
            row="0" col="0" 
            width="25%"
            horizontalAlignment="left"
            marginLeft="15"
            class="icon-image ">
        </Image>


        <Label
            row="0" col="2" 
            text="&#Xf2bd;" 
            fontSize="25"
            paddingRight="10"
            paddingLeft="20"
            horizontalAlignment="center"
            verticalAlignment="center"
            color="#FFFFFF" 
            class="far"
            (tap)="GoProfile()">
        </Label>
        <!-- <Image 
            src="~/assets/icon/SignOutIcon-White.png"
            row="0" col="2" 
            marginRight="15"
            width="100%"
            (tap)="SignOut()">
        </Image> -->
            
    </GridLayout>
    <!-- Login Information -->
    <GridLayout
        rows="25,25,25,25"
        columns="*"
        class="cs-info-container container-1st"
        height="20%"
        width="100%">

        <Label
            row="0" col="0" 
            text="Welcome {{CustomerServiceGenderCall}}" 
            class="ubuntu-medium"
            fontSize="11"
            color="#B0BEC5"
            fontWeight="bold"
            marginTop="10"
            marginLeft="15"
            marginRight="15">
        </Label>

        <Label 
            row="1" col="0" 
            text="{{CustomerServiceName}}" 
            class="ubuntu-regular"
            fontSize="18"
            color="#fff"
            marginTop="3"
            marginLeft="15">
        </Label>

        <Label
            row="2" col="0" 
            text="Job Spesification" 
            class="ubuntu-medium"
            fontSize="11"
            color="#B0BEC5"
            fontWeight="bold"
            marginTop="10"
            marginLeft="15"
            marginRight="15">
        </Label>

        <Label 
            row="3" col="0" 
            text="{{CustomerServiceJob}}" 
            class="ubuntu-regular"
            fontSize="16"
            color="#fff"
            marginTop="3"
            marginLeft="15">
        </Label>
                
    </GridLayout>
    <!-- Icon -->
    <GridLayout
    rows="*"
    columns="*,*,*,*"
    class="cs-info-container" 
    height="15%">

        <StackLayout 
            orientation="vertical" 
            row="0" col="0"
            (tap)="GoToMallPage()">
            <Image 
                src="~/assets/icon/MallIcon.png"
                width="60%"
                class="icon-image ">
            </Image>
            <Label 
                text="MALLS"
                horizontalAlignment="center"
                class="ubuntu-medium"
                fontSize="11"
                color="#000">
            </Label>
        </StackLayout>

        
        <StackLayout 
            orientation="vertical" 
            row="0" col="1"
            (tap)="GoToBrandPage()">
            <Image 
                src="~/assets/icon/BrandIcon.png"
                width="60%"
                class="icon-image ">
            </Image>
            <Label 
                text="BRANDS"
                horizontalAlignment="center"
                class="ubuntu-medium"
                fontSize="11"
                color="#000">
            </Label>
        </StackLayout>

        <StackLayout 
            orientation="vertical" 
            row="0" col="2"
            (tap)="GoToMerchantPage()">
            <Image 
                src="~/assets/icon/MerchantIcon.png"
                width="60%"
                class="icon-image ">
            </Image>
            <Label 
                text="MERCHANTS"
                horizontalAlignment="center"
                class="ubuntu-medium"
                fontSize="11"
                color="#000">
            </Label>
        </StackLayout>

        <StackLayout 
            orientation="vertical" 
            row="0" col="3"
            (tap)="GoToCardTypePage()">
            <Image 
                src="~/assets/icon/CardTypeIcon.png"
                width="60%"
                class="icon-image ">
            </Image>
            <Label 
                text="CARD TYPE"
                horizontalAlignment="center"
                class="ubuntu-medium"
                fontSize="11"
                color="#000">
            </Label>
        </StackLayout>
                
    </GridLayout> 
    <GridLayout
    rows="*"
    columns="*,*,*,*"
    class="cs-info-container" 
    height="15%">

        <StackLayout 
            orientation="vertical" 
            row="0" col="0"
            (tap)="GoToCustomerPage()">
            <Image 
                src="~/assets/icon/CustomersIcon.png"
                width="50%"
                class="icon-image ">
            </Image>
            <Label 
                text="CUSTOMERS"
                horizontalAlignment="center"
                class="ubuntu-medium"
                fontSize="11"
                color="#000">
            </Label>
        </StackLayout>

        
        <StackLayout 
            orientation="vertical" 
            row="0" col="1"
            (tap)="GoToFormulaPage()">
            <Image 
                src="~/assets/icon/FormulaIcon.png"
                width="50%"
                class="icon-image ">
            </Image>
            <Label 
                text="FORMULA"
                horizontalAlignment="center"
                class="ubuntu-medium"
                fontSize="11"
                color="#000">
            </Label>
        </StackLayout>

        <StackLayout 
            orientation="vertical" 
            row="0" col="2">
            <Image 
                src="~/assets/icon/RedeemIcon.png"
                width="50%"
                class="icon-image "
                (tap)="GoToRedeemPage()">
            </Image>
            <Label 
                text="REDEEMPTION"
                horizontalAlignment="center"
                class="ubuntu-medium"
                fontSize="11"
                color="#000">
            </Label>
        </StackLayout>

        <StackLayout 
            orientation="vertical" 
            row="0" col="3">
            <Image 
                src="~/assets/icon/PrinterSettingIcon.png"
                width="50%"
                class="icon-image "
                (tap)="GoToPrinterSettingPage()">
            </Image>
            <Label 
                text="PRINTER SETTING"
                horizontalAlignment="center"
                class="ubuntu-medium"
                fontSize="11"
                color="#000">
            </Label>
        </StackLayout>
                
    </GridLayout> 
    <!-- Mall Site Information -->
    <GridLayout
    rows="auto,auto,*"
    columns="*,auto"
    class="cs-info-container"
    marginTop="1%" 
    height="41%">

        <Label
            row="0" colspan="2" 
            text="Your Current Mall" 
            class="ubuntu-regular"
            fontSize="14"
            color="#607D8B"
            fontWeight="bold"
            marginTop="10"
            marginLeft="15"
            marginRight="15">
        </Label>
        <Label
            row="1" col="0" 
            text="{{CustomerServiceSites.Name}}" 
            class="ubuntu-regular"
            fontSize="16"
            color="#000"
            fontWeight="bold"
            marginTop="10"
            marginLeft="15"
            marginRight="15">
        </Label>
        <GridLayout
            *ngIf="Sites.length > 1"
            row="1" col="1"
            rows="*"
            columns="auto,auto"
            marginTop="10"
            marginLeft="15"
            marginRight="15"
            borderWidth="1"
            borderColor="#004D40"
            borderRadius="3"
            (tap)="SwitchSiteShowModal()">

            <Label
                row="0" col="0" 
                text="&#Xf362;" 
                fontSize="15"
                paddingRight="10"
                paddingLeft="10"
                paddingTop="5"
                paddingBottom="5"
                horizontalAlignment="center"
                verticalAlignment="center"
                color="#004D40" 
                class="fas">
            </Label>
            <Label
                row="0" col="1" 
                text="Change Mall" 
                class="ubuntu-regular" 
                fontSize="12" 
                color="#004D40"
                paddingTop="5"
                paddingBottom="5"
                paddingRight="10"
                horizontalAlignment="center"
                verticalAlignment="center">
            </Label>
            
        </GridLayout>
        <StackLayout 
            row="2" colspan="2"
            marginTop="10"
            marginRight="15"
            marginLeft="15"
            orientation="horizontal" style="horizontal-align:center;"
            class="VerticalAlignLayout">
            <Image 
                *ngIf="CustomerServiceSites.Picture == ''"
                src="~/assets/image/no-image.png"
                class="MallSiteImage">
            </Image>
            <Image 
                *ngIf="CustomerServiceSites.Picture != ''"
                src="{{APIURL}}{{CustomerServiceSites.Picture}}"
                class="MallSiteImage">
            </Image>
        </StackLayout>
                
    </GridLayout> 
</StackLayout>