.cs-info-container{
    background: #fff;
}

.container-1st{
    background: url("~/assets/image/first-page/cs-info-container-1st.png");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 20%;
}

.landscape  .container-1st{
    background: url("~/assets/image/first-page/cs-info-container-1st.png");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.VerticalAlignLayout{
    vertical-align: center;
}

.MallSiteImage{
    border-radius:10%;
    width:100%;
    border-width: 2px;
    border-color: #E0F2F1;
    margin-top:5px;
}

.first-page-lable-changesite{
    border-width: 1px;
    border-color: #ccc;
    padding: 5%;
    border-radius:3%;
    margin: 5% 10%;
    width:90%;
}

.far {
    font-family: "Font Awesome 5 Free", "fa-regular-400";
}

.fab {
    font-family: "Font Awesome 5 Brands", "fa-brands-400";
}

.fas {
    font-family: "Font Awesome 5 Free", "fa-solid-900";
}

.ico {
    font-family: "IcoMoon-Free";
}



