<GridLayout
    rows="auto,*,auto"
    (loaded)="onWrapperLoaded($event)">

    
    <GridLayout
        row="0" 
        rows="*"
        columns="auto,*"
        background="#FFFFFF"
        height="50"
        id="bar">
        <Label
            row="0" col="0"
            text="&#Xf060;" 
            fontSize="20"
            horizontalAlignment="center"
            verticalAlignment="center"
            paddingLeft="15"
            paddingRight="25"
            color="#212121" 
            class="fas"
            (tap)="BackToPageBefore()">
        </Label>
        <Label 
            row="0" col="1"
            text="Filter" 
            class="ubuntu-regular"
            color="#212121"
            marginRight="5"
            horizontalAlignment="left"
            verticalAlignment="center"
            fontSize="18">
        </Label>
    </GridLayout>

    <GridLayout
        row="1" 
        rows="auto,auto,auto,auto,auto,auto,auto,auto"
        columns="*"
        margin="15"  
        orientation="vertical">

        
        <label 
            row="0" col="0"
            text="Point Type" 
            class="ubuntu-regular"
            marginTop="15"
            marginBottom="15" 
            fontSize="14" 
            color="#000"
            horizontalAlignment="left">
        </label>
        <GridLayout
            row="1" col="0"
            rows="*"
            columns="*,auto"
            background="#ECEFF1" 
            orientation="horizontal"
            borderRadius="5"
            padding="6"
            width="100%"  
            horizontalAlignment="left">
                <label
                    *ngIf="PointTypeFilter.ID == null"  
                    row="0" col="0"
                    text="Choose Point Type" 
                    class="ubuntu-regular" 
                    fontSize="14" 
                    color="#000"
                    marginLeft="2%"
                    marginRight="2%"
                    width="96%" 
                    verticalAlignment="center"
                    horizontalAlignment="left"
                    (tap)="GoToPointTypePage()">
                </label>
                <label
                    *ngIf="PointTypeFilter.ID != null"  
                    row="0" col="0"
                    text="{{PointTypeFilter.Name}}" 
                    class="ubuntu-regular" 
                    fontSize="14" 
                    color="#000"
                    marginLeft="2%"
                    marginRight="2%"
                    width="96%" 
                    verticalAlignment="center"
                    horizontalAlignment="left"
                    (tap)="GoToPointTypePage()">
                </label>
                <Label
                    *ngIf="PointTypeFilter.ID == null" 
                    row="0" col="1"
                    text="&#Xf054;" 
                    fontSize="22"
                    horizontalAlignment="center"
                    verticalAlignment="center" 
                    color="#000"
                    marginRight="5"
                    marginLeft="15"
                    class="fas"
                    (tap)="GoToPointTypePage()">
                </Label>
                <Label
                    *ngIf="PointTypeFilter.ID != null" 
                    row="0" col="1"
                    text="&#Xf057;" 
                    fontSize="22"
                    horizontalAlignment="center"
                    verticalAlignment="center" 
                    color="#B71C1C"
                    marginRight="5"
                    marginLeft="15"
                    class="far"
                    (tap)="TimesClick('PointType')">
                </Label>
        </GridLayout>

        <label 
            row="2" col="0"
            text="Timing Formula" 
            class="ubuntu-regular"
            marginTop="15"
            marginBottom="15" 
            fontSize="14" 
            color="#000"
            horizontalAlignment="left">
        </label>
        <WrapLayout     
        row="3"
        col="0"  
        orientation="horizontal">
            <ng-container *ngFor="let item of IsDefaultFilter; let i = index">
                
                <Label
                    class="ubuntu-medium"
                    borderRadius="5"
                    borderWidth="0.5"
                    [ngStyle]="
                        {
                            'background': item.Active == true ? '#E0F2F1' : '#ECEFF1', 
                            'border-color' : item.Active == true ? '#26A69A' : '#78909C'
                        }
                    "
                    padding="10"
                    marginLeft="2"
                    marginRight="2"
                    marginTop="2"
                    marginBottom="15"
                    fontSize="12" 
                    [text]="item.Name"
                    verticalAlignment="center"
                    horizontalAlignment="left"
                    color="#212121"
                    (tap)="ChooseTimingFormula(i)">
                </Label> 
            </ng-container>
        </WrapLayout >
        
        <label 
            row="4" col="0"
            text="Special Formula" 
            class="ubuntu-regular"
            marginTop="15"
            marginBottom="15" 
            fontSize="14" 
            color="#000"
            horizontalAlignment="left">
        </label>
        <WrapLayout     
        row="5"
        col="0"  
        orientation="horizontal">
            <ng-container *ngFor="let item of IsSpecialFilter; let i = index">
                
                <Label
                    class="ubuntu-medium"
                    borderRadius="5"
                    borderWidth="0.5"
                    [ngStyle]="
                        {
                            'background': item.Active == true ? '#E0F2F1' : '#ECEFF1', 
                            'border-color' : item.Active == true ? '#26A69A' : '#78909C'
                        }
                    "
                    padding="10"
                    marginLeft="2"
                    marginRight="2"
                    marginTop="2"
                    marginBottom="15"
                    fontSize="12" 
                    [text]="item.Name"
                    verticalAlignment="center"
                    horizontalAlignment="left"
                    color="#212121"
                    (tap)="ChooseSpecialormula(i)">
                </Label> 
            </ng-container>
        </WrapLayout >

        <StackLayout 
            row="6" 
            col="0" 
            marginTop="15"
            marginBottom="15" 
            orientation="horizontal">
            <GridLayout rows="auto" columns="*,auto,auto">
                <label 
                    row="0" col="0"
                    text="State" 
                    class="ubuntu-regular"
                    fontSize="14" 
                    color="#000"
                    verticalAlignment="center">
                </label>
                <Label 
                    row="0" 
                    col="1" 
                    text="{{IsActiveMsg}}"
                    marginRight="10"
                    fontSize="14" 
                    verticalAlignment="center"
                    class="ubuntu-regular">
                </Label>
                <Switch 
                    row="0" 
                    col="2" 
                    color="#00695C" 
                    backgroundColor="#90A4AE"
                    id="ActiveSwitch"
                    (checkedChange)="onCheckedChange($event)" 
                    offBackgroundColor="#90A4AE">
                </Switch>
            </GridLayout>
        </StackLayout>

    </GridLayout>

    <GridLayout
        row="2" 
        rows="*"
        columns="*"
        background="#FFFFFF"
        height="50">
        <StackLayout
            *ngIf="PointTypeFilter.ID != null || IsDefaultFilterSingle != null || IsSpecialFilterSingle != null || IsActiveFilterSingle != true"
            row="0" col="0"    
            orientation="horizontal"
            background="#00695C"
            width="90%"
            marginBottom="15"
            borderRadius="5"
            horizontalAlignment="center"
            (tap)="GoFilter()">
            <Label 
                text="&#Xf0b0;" 
                fontSize="14"
                color="#FFFFFF"
                verticalAlignment="center" 
                class="fas"></Label>
            <Label 
                class="ubuntu-regular"
                marginLeft="8" 
                text="FILTER"
                color="#FFFFFF"
                verticalAlignment="center"
                fontSize="14">
            </Label>     
        </StackLayout>  
        <StackLayout
            *ngIf="PointTypeFilter.ID == null && IsDefaultFilterSingle == null && IsSpecialFilterSingle == null && IsActiveFilterSingle == true"
            row="0" col="0"    
            orientation="horizontal"
            background="#B2DFDB"
            width="90%"
            marginBottom="15"
            borderRadius="5"
            horizontalAlignment="center">
            <Label 
                text="&#Xf0b0;" 
                fontSize="14"
                color="#E0F2F1"
                verticalAlignment="center" 
                class="fas"></Label>
            <Label 
                class="ubuntu-regular"
                marginLeft="8" 
                text="FILTER"
                color="#E0F2F1"
                verticalAlignment="center"
                fontSize="14">
            </Label>     
        </StackLayout>  
    </GridLayout>


</GridLayout>


