<!-- visibility="{{isCustomerListLoading == false && isCustomerListEmpty == false ? 'visible' : 'collapsed'}}" -->
<!-- borderWidth="0.5"
borderTopColor="#FFFFFF"
borderLeftColor="#FFFFFF"
borderRightColor="#FFFFFF"
borderBottomColor="#E0E0E0" -->
<GridLayout 
    rows="auto,*"
    [ngStyle]="{'margin-bottom': (isLoadMoreItem==true) ? '40' : ''}"
    (loaded)="onWrapperLoaded($event)"
    background="#ECEFF1">

    
    <GridLayout
        row="0" 
        rows="*"
        columns="auto,*,auto"
        background="#FFFFFF"
        height="50"
        id="bar">
        <Label
            row="0" col="0"
            text="&#Xf060;" 
            fontSize="20"
            horizontalAlignment="center"
            verticalAlignment="center"
            paddingLeft="15"
            paddingRight="25"
            color="#212121" 
            class="fas"
            (tap)="BackToPageBefore()">
        </Label>
        <Label 
            row="0" col="1"
            text="Customer" 
            class="ubuntu-regular"
            color="#212121"
            marginRight="5"
            horizontalAlignment="left"
            verticalAlignment="center"
            fontSize="18">
        </Label>
        <GridLayout
            row="0" col="2"
            rows="auto"
            columns="auto,*,auto" 
            class="btn"
            background="#F5F5F5" 
            orientation="horizontal"
            borderRadius="5"
            [ngStyle]="{'width': (ListRequest.Search == '') ? '' : '40%'}"
            (tap)="GoToCustomerSearchPage()">
            <Label
                row="0" col="0"
                text="&#Xf002;" 
                fontSize="14"
                horizontalAlignment="center"
                verticalAlignment="center"
                marginLeft="4"
                color="#424242" 
                class="fas">
            </Label>
            <label
                *ngIf="ListRequest.Search == ''" 
                row="0" col="1"
                text="Search Customer..." 
                class="ubuntu-regular"
                marginLeft="7" 
                marginRight="4" 
                fontSize="14" 
                color= "#424242"
                horizontalAlignment="left"
                verticalAlignment="center">
            </label>
            <label
                *ngIf="ListRequest.Search != ''" 
                row="0" col="1"
                text="{{ListRequest.Search}}" 
                class="ubuntu-regular"
                marginLeft="7" 
                marginRight="4" 
                fontSize="14" 
                color= "#424242"
                horizontalAlignment="left"
                verticalAlignment="center">
            </label>
            <Label
                *ngIf="ListRequest.Search != ''" 
                row="0" col="2"
                text="&#Xf057;" 
                fontSize="18"
                horizontalAlignment="center"
                verticalAlignment="center"
                marginLeft="4" 
                marginRight="4" 
                color="#424242" 
                class="far"
                (tap)="TimesClick()">
            </Label>
        </GridLayout>
    </GridLayout>

    <PullToRefresh
        row="1" 
        *ngIf="isCustomerListLoading == false && isCustomerListEmpty == false"
        (refresh)="refreshList($event)" 
        color="black"> 
        
        <ScrollView orientation="vertical" (scroll)="loadMoreItems($event)" id="scrollview">

            <StackLayout
                orientation="vertical"
                marginBottom="10">
                <ng-container *ngFor="let item of ListData; let i = index" >
                
                    <GridLayout
                        rows="*" 
                        columns="auto,*,auto"
                        backgroundColor="#ECEFF1"
                        borderWidth="0.5"
                        borderColor="#ECEFF1" 
                        marginTop="10"
                        marginBottom="5"
                        (tap)="ViewDetail(i)">
                        <StackLayout 
                            row="0"
                            col="0"
                            width="60"
                            height="60"
                            marginLeft="15"
                            borderRadius="100%"
                            background="#80CBC4"
                            orientation="vertical" 
                            verticalAlignment="center">
                            <label 
                                text="{{item.MasterCustomerData_Name[0]}}" 
                                class="ubuntu-regular" 
                                fontSize="20" 
                                color="#212121"
                                verticalAlignment="center" 
                                horizontalAlignment="center">
                            </label>
                        </StackLayout>
                        <StackLayout    
                            row="0"
                            col="1"  
                            orientation="vertical">
                            <Label
                                class="ubuntu-medium"
                                marginLeft="10"
                                marginRight="5"
                                marginBottom="2"
                                fontSize="16" 
                                [text]="item.MasterCustomerData_Name"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                color="#212121">
                            </Label>
                            <Label
                                class="ubuntu-medium"
                                marginTop="5"
                                marginLeft="10"
                                marginRight="5"
                                marginBottom="2"
                                fontSize="12" 
                                [text]="item.Card.CustomerDataMemberCard_CardNumber"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                color="#616161">
                            </Label>
                            <Label
                                class="ubuntu-medium"
                                marginTop="5"
                                marginLeft="10"
                                marginRight="5"
                                marginBottom="2"
                                fontSize="12" 
                                [text]="item.CardType.MasterMemberCardType_Name"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                color="#616161">
                            </Label>
                        </StackLayout>
                        <Label
                            row="0"
                            col="2"  
                            text="&#Xf054;" 
                            margin="15"
                            color="#26A69A"
                            fontSize="20"
                            verticalAlignment="center"
                            horizontalAlignment="center"
                            class="fas">
                        </Label>
                    </GridLayout>
                    
                </ng-container>
                <StackLayout 
                    *ngIf="isLoadMoreItem == true"
                    background="#ECEFF1"
                    orientation="vertical" 
                    verticalAlignment="bottom">
                    <label 
                        text="{{LoadMoreItemMsg}}" 
                        class="ubuntu-regular" 
                        fontSize="12" 
                        color="#212121"
                        margin="15"
                        verticalAlignment="center" 
                        horizontalAlignment="center">
                    </label>
                </StackLayout>
            </StackLayout>

        </ScrollView>
      
    </PullToRefresh>

    <!--Loading Data-->
    <StackLayout 
        row="1" 
        *ngIf="isCustomerListLoading == true"
        horizontalAlignment="center"
        verticalAlignment="center">
        <Image
            src="~/assets/image/loading-list.png" width="100%" height="100%">
        </Image>
    </StackLayout>

    <!--Empty List-->
    <StackLayout 
        row="1" 
        *ngIf="isCustomerListEmpty == true"
        orientation="vertical" 
        verticalAlignment="center">
        <Label 
            row="0" col="0"    
            text="&#Xf5c2;" 
            marginLeft="5" 
            fontSize="150"
            color="#90A4AE"
            horizontalAlignment="center" 
            class="far"></Label>
        <label 
            text="NO LIST FOUND!" 
            class="ubuntu-medium" 
            fontSize="18"
            marginTop="10" 
            color="#90A4AE"
            horizontalAlignment="center">
        </label>

        <GridLayout
            rows="auto"
            columns="auto,auto,auto" 
            orientation="horizontal"
            margin="15"
            horizontalAlignment="center"
            (tap)="BackAfterListEmpty()">
            <label 
                row="0" col="0"
                text="Tap to " 
                class="ubuntu-medium" 
                fontSize="14"
                color="#90A4AE"
                horizontalAlignment="center">
            </label>
            <label 
                row="0" col="1"
                text="Refresh" 
                class="ubuntu-medium" 
                fontSize="14"
                color="#00695C"
                horizontalAlignment="center">
            </label>
            <label 
                row="0" col="2"
                text=" this Page. " 
                class="ubuntu-medium" 
                fontSize="14"
                color="#90A4AE"
                horizontalAlignment="center">
            </label>
        </GridLayout>

    </StackLayout>

</GridLayout>








