<!-- visibility="{{isCustomerTransHistoryListLoading == false && isCustomerTransHistoryListEmpty == false ? 'visible' : 'collapsed'}}" -->
<!-- borderWidth="0.5"
borderTopColor="#FFFFFF"
borderLeftColor="#FFFFFF"
borderRightColor="#FFFFFF"
borderBottomColor="#E0E0E0" -->
<GridLayout 
    rows="auto,*"
    [ngStyle]="{'margin-bottom': (isLoadMoreItem==true) ? '40' : ''}"
    background="#ECEFF1"
    (loaded)="onWrapperLoaded($event)">

    
    <GridLayout
        row="0" 
        rows="*"
        columns="auto,*"
        background="#FFFFFF"
        height="50"
        id="bar">
        <Label
            row="0" col="0"
            text="&#Xf060;" 
            fontSize="20"
            horizontalAlignment="center"
            verticalAlignment="center"
            paddingLeft="15"
            paddingRight="25"
            color="#212121" 
            class="fas"
            (tap)="BackToPageBefore()">
        </Label>
        <Label 
            row="0" col="1"
            text="Transaction History" 
            class="ubuntu-regular"
            color="#212121"
            marginRight="5"
            horizontalAlignment="left"
            verticalAlignment="center"
            fontSize="18">
        </Label>
    </GridLayout>

    <PullToRefresh
        row="1" 
        *ngIf="isCustomerTransHistoryListLoading == false && isCustomerTransHistoryListEmpty == false"
        (refresh)="refreshList($event)" 
        color="black"> 
        
        <ScrollView orientation="vertical" (scroll)="loadMoreItems($event)" id="scrollview">

            <StackLayout
                marginTop="10"
                marginBottom="10">
                <ng-container *ngFor="let item of ListData; let i = index" >
                
                     
                    <GridLayout
                        rows="auto,auto,auto,auto" 
                        columns="*,*"
                        backgroundColor="#FFFFFF"
                        padding="5"
                        paddingTop="15"
                        paddingBottom="10"
                        marginLeft="15"
                        marginright="15"
                        marginTop="5"
                        marginBottom="5">
                        
                        <StackLayout    
                            row="0"
                            col="0"
                            marginTop="5"
                            verticalAlignment="top"
                            horizontalAlignment="left"  
                            orientation="vertical">
                            <Label
                                class="ubuntu-medium"
                                marginTop="8"
                                marginLeft="5"
                                marginRight="5"
                                marginBottom="2"
                                fontSize="14" 
                                text="Transaction Date"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                color="#616161">
                            </Label>
                            <Label
                                class="ubuntu-medium"
                                marginTop="2"
                                marginLeft="5"
                                marginRight="5"
                                marginBottom="2"
                                fontSize="14" 
                                text="{{item.CustomerTransactionHistory_TransactionDate | date: 'dd MMMM yyyy'}}"
                                textWrap="true"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                color="#212121">
                            </Label>

                            <Label
                                class="ubuntu-medium"
                                marginTop="8"
                                marginLeft="5"
                                marginRight="5"
                                marginBottom="2"
                                fontSize="14" 
                                text="Earning Type"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                color="#616161">
                            </Label>
                            <Label
                                class="ubuntu-medium"
                                marginTop="2"
                                marginLeft="5"
                                marginRight="5"
                                marginBottom="2"
                                fontSize="14" 
                                text="{{item.MasterEarningType_Name}}"
                                textWrap="true"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                color="#212121">
                            </Label>

                        </StackLayout>
                        <StackLayout    
                            row="0"
                            col="1"
                            marginTop="5"
                            verticalAlignment="top"
                            horizontalAlignment="left"  
                            orientation="vertical">
                            <Label
                                class="ubuntu-medium"
                                marginTop="8"
                                marginLeft="5"
                                marginRight="5"
                                marginBottom="2"
                                fontSize="14" 
                                text="Merchant"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                color="#616161">
                            </Label>
                            <Label
                                class="ubuntu-medium"
                                marginTop="2"
                                marginLeft="5"
                                marginRight="5"
                                marginBottom="2"
                                fontSize="14" 
                                text="{{item.MasterMerchant_Name}}"
                                textWrap="true"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                color="#212121">
                            </Label>


                            <Label
                                class="ubuntu-medium"
                                marginTop="8"
                                marginLeft="5"
                                marginRight="5"
                                marginBottom="2"
                                fontSize="14" 
                                text="Card Type"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                color="#616161">
                            </Label>
                            <Label
                                class="ubuntu-medium"
                                marginTop="2"
                                marginLeft="5"
                                marginRight="5"
                                marginBottom="2"
                                fontSize="14" 
                                text="{{item.CustomerDataMemberCardType_Name}}"
                                textWrap="true"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                color="#212121">
                            </Label>

                        </StackLayout>

                        <StackLayout    
                            row="1"
                            col="0"
                            marginTop="5"
                            verticalAlignment="top"
                            horizontalAlignment="left"  
                            orientation="vertical">

                            <Label
                                class="ubuntu-medium"
                                marginTop="8"
                                marginLeft="5"
                                marginRight="5"
                                marginBottom="2"
                                fontSize="14" 
                                text="Amount"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                color="#616161">
                            </Label>
                            <Label
                                class="ubuntu-medium"
                                marginTop="2"
                                marginLeft="5"
                                marginRight="5"
                                marginBottom="2"
                                fontSize="14" 
                                text="{{item.CustomerTransactionHistory_Amount | currency:'Rp. ': 'symbol' : '1.0'}}"
                                textWrap="true"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                color="#212121">
                            </Label>


                            <Label
                                class="ubuntu-medium"
                                marginTop="8"
                                marginLeft="5"
                                marginRight="5"
                                marginBottom="2"
                                fontSize="14" 
                                text="Lucky Draw Point"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                color="#616161">
                            </Label>
                            <Label
                                class="ubuntu-medium"
                                marginTop="2"
                                marginLeft="5"
                                marginRight="5"
                                marginBottom="2"
                                fontSize="14" 
                                text="{{item.CustomerTransactionHistory_LuckyDrawPoint}}"
                                textWrap="true"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                color="#212121">
                            </Label>

                        </StackLayout>
                        <StackLayout    
                            row="1"
                            col="1"
                            marginTop="5"
                            verticalAlignment="top"
                            horizontalAlignment="left"  
                            orientation="vertical">
                            <Label
                                class="ubuntu-medium"
                                marginTop="8"
                                marginLeft="5"
                                marginRight="5"
                                marginBottom="2"
                                fontSize="14" 
                                text="Mall"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                color="#616161">
                            </Label>
                            <Label
                                class="ubuntu-medium"
                                marginTop="2"
                                marginLeft="5"
                                marginRight="5"
                                marginBottom="2"
                                fontSize="14" 
                                text="{{item.MasterSite_Name}}"
                                textWrap="true"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                color="#212121">
                            </Label>

                            <Label
                                class="ubuntu-medium"
                                marginTop="8"
                                marginLeft="5"
                                marginRight="5"
                                marginBottom="2"
                                fontSize="14" 
                                text="Redeem Point"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                color="#616161">
                            </Label>
                            <Label
                                class="ubuntu-medium"
                                marginTop="2"
                                marginLeft="5"
                                marginRight="5"
                                marginBottom="2"
                                fontSize="14" 
                                text="{{item.CustomerTransactionHistory_RedeemPoint}}"
                                textWrap="true"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                color="#212121">
                            </Label>

                        </StackLayout>

                        <StackLayout    
                            row="2"
                            col="0"
                            marginTop="5"
                            verticalAlignment="top"
                            horizontalAlignment="left"  
                            orientation="vertical">

                            <Label
                                class="ubuntu-medium"
                                marginTop="8"
                                marginLeft="5"
                                marginRight="5"
                                marginBottom="2"
                                fontSize="14" 
                                text="Transaction Type"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                color="#616161">
                            </Label>
                            <Label
                                class="ubuntu-medium"
                                marginTop="2"
                                marginLeft="5"
                                marginRight="5"
                                marginBottom="2"
                                fontSize="14" 
                                text="{{item.MasterTransactionType_Name}}"
                                textWrap="true"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                color="#212121">
                            </Label>

                        </StackLayout>
                        <StackLayout    
                            row="2"
                            col="1"
                            marginTop="5"
                            verticalAlignment="top"
                            horizontalAlignment="left"  
                            orientation="vertical">
                            <Label
                                *ngIf="item.MasterTransactionType_ID == 2 || item.MasterTransactionType_ID == 3"
                                class="ubuntu-medium"
                                marginTop="8"
                                marginLeft="5"
                                marginRight="5"
                                marginBottom="2"
                                fontSize="14" 
                                text="Bank"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                color="#616161">
                            </Label>
                            <Label
                                *ngIf="item.MasterTransactionType_ID == 2 || item.MasterTransactionType_ID == 3"
                                class="ubuntu-medium"
                                marginTop="2"
                                marginLeft="5"
                                marginRight="5"
                                marginBottom="2"
                                fontSize="14" 
                                text="{{item.MasterBank_Name}}"
                                textWrap="true"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                color="#212121">
                            </Label>

                            <Label
                                *ngIf="item.MasterTransactionType_ID == 4"
                                class="ubuntu-medium"
                                marginTop="8"
                                marginLeft="5"
                                marginRight="5"
                                marginBottom="2"
                                fontSize="14" 
                                text="E-Wallet"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                color="#616161">
                            </Label>
                            <Label
                                *ngIf="item.MasterTransactionType_ID == 4"
                                class="ubuntu-medium"
                                marginTop="2"
                                marginLeft="5"
                                marginRight="5"
                                marginBottom="2"
                                fontSize="14" 
                                text="{{item.MasterEWallet_Name}}"
                                textWrap="true"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                color="#212121">
                            </Label>

                        </StackLayout>

                        <StackLayout
                            marginTop="10"
                            row="3"
                            colspan="2"
                            orientation="horizontal"
                            background="#00695C"
                            width="90%"
                            height="40"
                            borderRadius="5"
                            marginBottom="10"
                            horizontalAlignment="center"
                            (tap)="PrintReceipt(i)">
                            <Label 
                                text="&#Xf02f;" 
                                fontSize="14"
                                color="#FFFFFF"
                                marginRight="5"
                                verticalAlignment="center" 
                                class="fas"></Label>
                            <Label 
                                class="ubuntu-bold" 
                                text="Print Receipt" 
                                color="#FFFFFF"
                                marginTop="15"
                                marginRight="15"
                                marginBottom="15"
                                fontSize="12">
                            </Label>      
                        </StackLayout>
                            
                        <!-- <GridLayout
                            row="3"
                            colspan="2"
                            rows="auto"
                            columns="auto,auto" 
                            orientation="horizontal"
                            margin="15"
                            horizontalAlignment="center"
                            (tap)="PrintReceipt(i)">
                            <label 
                                row="0" col="0"
                                text="&#Xf02f;" 
                                class="fas" 
                                fontSize="18"
                                marginRight="5"
                                color="#004D40"
                                horizontalAlignment="center">
                            </label>
                            <label 
                                row="0" col="1"
                                text="Print Receipt" 
                                class="ubuntu-medium" 
                                fontSize="18"
                                color="#004D40"
                                horizontalAlignment="center">
                            </label>
                        </GridLayout> -->

                    </GridLayout>

                    
                </ng-container>
                <StackLayout 
                    *ngIf="isLoadMoreItem == true"
                    background="#ECEFF1"
                    orientation="vertical" 
                    verticalAlignment="bottom">
                    <label 
                        text="{{LoadMoreItemMsg}}" 
                        class="ubuntu-regular" 
                        fontSize="12" 
                        color="#212121"
                        margin="15"
                        verticalAlignment="center" 
                        horizontalAlignment="center">
                    </label>
                </StackLayout>
            </StackLayout>

        </ScrollView>
      
    </PullToRefresh>

    <!--Loading Data-->
    <StackLayout 
        row="1" 
        *ngIf="isCustomerTransHistoryListLoading == true"
        horizontalAlignment="center"
        verticalAlignment="center">
        <Image
            src="~/assets/image/loading-list.png" width="100%" height="100%">
        </Image>
    </StackLayout>

    <!--Empty List-->
    <StackLayout 
        row="1" 
        *ngIf="isCustomerTransHistoryListEmpty == true"
        orientation="vertical" 
        verticalAlignment="center">
        <Label 
            row="0" col="0"    
            text="&#Xf5c2;" 
            marginLeft="5" 
            fontSize="150"
            color="#90A4AE"
            horizontalAlignment="center" 
            class="far"></Label>
        <label 
            text="NO LIST FOUND!" 
            class="ubuntu-medium" 
            fontSize="18"
            marginTop="10" 
            color="#90A4AE"
            horizontalAlignment="center">
        </label>

        <GridLayout
            rows="auto"
            columns="auto,auto,auto" 
            orientation="horizontal"
            margin="15"
            horizontalAlignment="center"
            (tap)="BackAfterListEmpty()">
            <label 
                row="0" col="0"
                text="Tap to " 
                class="ubuntu-medium" 
                fontSize="14"
                color="#90A4AE"
                horizontalAlignment="center">
            </label>
            <label 
                row="0" col="1"
                text="Refresh" 
                class="ubuntu-medium" 
                fontSize="14"
                color="#00695C"
                horizontalAlignment="center">
            </label>
            <label 
                row="0" col="2"
                text=" this Page. " 
                class="ubuntu-medium" 
                fontSize="14"
                color="#90A4AE"
                horizontalAlignment="center">
            </label>
        </GridLayout>

    </StackLayout>

</GridLayout>








