<GridLayout 
rows="auto,*,auto"
background="#ECEFF1">

    <GridLayout
        row="0" 
        rows="*"
        columns="auto,*"
        background="#FFFFFF"
        height="50"
        id="bar">
        <Label
            row="0" col="0"
            text="&#Xf060;" 
            fontSize="20"
            horizontalAlignment="center"
            verticalAlignment="center"
            paddingLeft="15"
            paddingRight="25"
            color="#212121" 
            class="fas"
            (tap)="BackToPageBefore()">
        </Label>
        <Label 
            row="0" col="1"
            text="Customer Detail" 
            class="ubuntu-regular"
            color="#212121"
            marginRight="5"
            horizontalAlignment="left"
            verticalAlignment="center"
            fontSize="18">
        </Label>
    </GridLayout>

    <PullToRefresh
    *ngIf="isCustomerDetailListLoading == false && isCustomerDetailListEmpty == false"
    row="1" 
    (refresh)="refreshList($event)" 
    color="black">
        
        <ScrollView orientation="vertical" id="scrollview">

            <StackLayout
                orientation="vertical"
                marginBottom="10">

                <GridLayout
                    rows="auto,auto" 
                    columns="auto,*"
                    backgroundColor="#ECEFF1"
                    marginTop="10"
                    marginBottom="5">
                    
                    <StackLayout 
                        row="0"
                        col="0"
                        width="60"
                        height="60"
                        marginLeft="15"
                        borderRadius="100%"
                        background="#80CBC4"
                        orientation="vertical" 
                        verticalAlignment="center">
                        <label 
                            text="{{DetailData.MasterCustomerData_Name[0]}}" 
                            class="ubuntu-regular" 
                            fontSize="20" 
                            color="#212121"
                            verticalAlignment="center" 
                            horizontalAlignment="center">
                        </label>
                    </StackLayout>
                    <StackLayout    
                        row="0"
                        col="1"
                        verticalAlignment="center"  
                        orientation="vertical">
                        <Label
                            class="ubuntu-medium"
                            marginLeft="10"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="16" 
                            [text]="DetailData.MasterCustomerData_Name"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#212121">
                        </Label>
                        <Label
                            class="ubuntu-regular"
                            marginLeft="10"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="16" 
                            [text]="DetailData.MasterCustomerData_Email"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#616161">
                        </Label>
                    </StackLayout>


                </GridLayout>

                <GridLayout 
                    row="1" 
                    rows="*"
                    columns="*,*">
            
                    <StackLayout  
                        row="0" col="0"
                        marginLeft="15"
                        marginRight="15"
                        marginTop="10"
                        marginBottom="10">
            
                        <StackLayout  
                            row="1" col="1"  
                            horizontalAlignment="center"
                            orientation="horizontal"
                            borderWidth="1"
                            borderColor="#263238"
                            background="#263238"
                            borderRadius="3"
                            width="100%"
                            (tap)="CaptureReceipt()">
                            <Label
                                text="&#Xf030;" 
                                fontSize="16"
                                paddingLeft="10"
                                paddingRight="5"
                                paddingTop="10"
                                paddingBottom="10"
                                style.textAlignment="center"
                                color="#FFFFFF" 
                                class="fas">
                            </Label> 
                            
                            <Label 
                                text="Capture Receipt" 
                                class="ubuntu-regular" 
                                fontSize="16" 
                                color="#FFFFFF"
                                paddingTop="10"
                                paddingBottom="10"
                                paddingRight="10"
                                style.textAlignment="center">
                            </Label> 
                        </StackLayout>
                        
                    </StackLayout>
                    <StackLayout  
                        row="0" col="1"
                        marginLeft="15"
                        marginRight="15"
                        marginTop="10"
                        marginBottom="10">
            
                        <StackLayout  
                            row="1" colspan="1"  
                            horizontalAlignment="center"
                            orientation="horizontal"
                            borderWidth="1"
                            background="#263238"
                            borderColor="#004D40"
                            borderRadius="3"
                            width="100%"
                            (tap)="RedeemReward()">
                            <Label
                                text="&#Xf4cd;" 
                                fontSize="16"
                                paddingLeft="10"
                                paddingRight="5"
                                paddingTop="10"
                                paddingBottom="10"
                                style.textAlignment="center"
                                color="#FFFFFF" 
                                class="fas">
                            </Label> 
                            
                            <Label 
                                text="Redeem" 
                                class="ubuntu-regular" 
                                fontSize="16" 
                                color="#FFFFFF"
                                paddingTop="10"
                                paddingBottom="10"
                                paddingRight="10"
                                style.textAlignment="center">
                            </Label> 
                        </StackLayout>
                        
                    </StackLayout>
                
            
            
                </GridLayout>
                
                <!--Customer Point-->
                <GridLayout
                    rows="auto,auto" 
                    columns="*,*,*"
                    backgroundColor="#FFFFFF"
                    borderWidth="2"
                    borderColor="#ECEFF1"
                    borderRadius="5"
                    padding="5"
                    paddingTop="10"
                    paddingBottom="10"
                    marginLeft="15"
                    marginright="15"
                    marginTop="10"
                    marginBottom="5">
                    
                    <StackLayout    
                        row="0"
                        col="0"
                        marginTop="5"
                        verticalAlignment="top"
                        horizontalAlignment="center"  
                        orientation="vertical">
                        <Label
                            class="ubuntu-medium"
                            marginTop="2"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="{{CustomerPoint.CustomerTransactionHistory_Amount | currency:'Rp. ': 'symbol' : '1.0'}}"
                            textWrap="true"
                            verticalAlignment="center"
                            horizontalAlignment="center"
                            color="#212121">
                        </Label>
                        <Label
                            class="ubuntu-medium"
                            marginTop="2"
                            marginLeft="5"
                            marginRight="5"
                            fontSize="12" 
                            text="Monthly"
                            textWrap="true"
                            verticalAlignment="center"
                            horizontalAlignment="center"
                            color="#616161">
                        </Label>
                        <Label
                            class="ubuntu-medium"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="12" 
                            text="Expense"
                            textWrap="true"
                            verticalAlignment="center"
                            horizontalAlignment="center"
                            color="#616161">
                        </Label>


                    </StackLayout>
                    <StackLayout    
                        row="0"
                        col="1"
                        marginTop="5"
                        verticalAlignment="top"
                        horizontalAlignment="center"  
                        orientation="vertical">
                        <Label
                            class="ubuntu-medium"
                            marginTop="2"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="{{CustomerPoint.CustomerTransactionHistory_RedeemPoint}}"
                            textWrap="true"
                            verticalAlignment="center"
                            horizontalAlignment="center"
                            color="#212121">
                        </Label>
                        <Label
                            class="ubuntu-medium"
                            marginTop="2"
                            marginLeft="5"
                            marginRight="5"
                            fontSize="12" 
                            text="Monthly"
                            textWrap="true"
                            verticalAlignment="center"
                            horizontalAlignment="center"
                            color="#616161">
                        </Label>
                        <Label
                            class="ubuntu-medium"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="12" 
                            text="Redeem Point"
                            textWrap="true"
                            verticalAlignment="center"
                            horizontalAlignment="center"
                            color="#616161">
                        </Label>


                    </StackLayout>
                    <StackLayout    
                        row="0"
                        col="2"
                        marginTop="5"
                        verticalAlignment="top"
                        horizontalAlignment="center"  
                        orientation="vertical">
                        <Label
                            class="ubuntu-medium"
                            marginTop="2"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="{{CustomerPoint.CustomerTransactionHistory_LuckyDrawPoint}}"
                            textWrap="true"
                            verticalAlignment="center"
                            horizontalAlignment="center"
                            color="#212121">
                        </Label>
                        <Label
                            class="ubuntu-medium"
                            marginTop="2"
                            marginLeft="5"
                            marginRight="5"
                            fontSize="12" 
                            text="Monthly"
                            textWrap="true"
                            verticalAlignment="center"
                            horizontalAlignment="center"
                            color="#616161">
                        </Label>
                        <Label
                            class="ubuntu-medium"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="12" 
                            text="Lucky Draw Point"
                            textWrap="true"
                            verticalAlignment="center"
                            horizontalAlignment="center"
                            color="#616161">
                        </Label>


                    </StackLayout>


                    <StackLayout    
                        row="1"
                        col="0"
                        marginTop="5"
                        verticalAlignment="top"
                        horizontalAlignment="center"  
                        orientation="vertical">
                        <Label
                            class="ubuntu-medium"
                            marginTop="2"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="{{CustomerPoint.CustomerTransactionHistory_TotalAmount | currency:'Rp. ': 'symbol' : '1.0'}}"
                            textWrap="true"
                            verticalAlignment="center"
                            horizontalAlignment="center"
                            color="#212121">
                        </Label>
                        <Label
                            class="ubuntu-medium"
                            marginTop="2"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="12" 
                            text="Expense"
                            textWrap="true"
                            verticalAlignment="center"
                            horizontalAlignment="center"
                            color="#616161">
                        </Label>


                    </StackLayout>
                    <StackLayout    
                        row="1"
                        col="1"
                        marginTop="5"
                        verticalAlignment="top"
                        horizontalAlignment="center"  
                        orientation="vertical">
                        <Label
                            class="ubuntu-medium"
                            marginTop="2"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="{{CustomerPoint.CustomerRedeemPoint_TotalRedeemPoint}}"
                            textWrap="true"
                            verticalAlignment="center"
                            horizontalAlignment="center"
                            color="#212121">
                        </Label>
                        <Label
                            class="ubuntu-medium"
                            marginTop="2"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="12" 
                            text="Redeem Point"
                            textWrap="true"
                            verticalAlignment="center"
                            horizontalAlignment="center"
                            color="#616161">
                        </Label>


                    </StackLayout>
                    <StackLayout    
                        row="1"
                        col="2"
                        marginTop="5"
                        verticalAlignment="top"
                        horizontalAlignment="center"  
                        orientation="vertical">
                        <Label
                            class="ubuntu-medium"
                            marginTop="2"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="{{CustomerPoint.CustomerRedeemPoint_TotalLuckyDrawPoint}}"
                            textWrap="true"
                            verticalAlignment="center"
                            horizontalAlignment="center"
                            color="#212121">
                        </Label>
                        <Label
                            class="ubuntu-medium"
                            marginTop="2"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="12" 
                            text="Lucky Draw Point"
                            textWrap="true"
                            verticalAlignment="center"
                            horizontalAlignment="center"
                            color="#616161">
                        </Label>


                    </StackLayout>

                </GridLayout>

                <!--Customer Info-->
                <Label
                    class="ubuntu-medium"
                    marginTop="10"
                    marginLeft="15"
                    marginRight="15"
                    marginBottom="2"
                    fontSize="14" 
                    text="Customer Info"
                    verticalAlignment="center"
                    horizontalAlignment="left"
                    color="#212121">
                </Label>
                <GridLayout
                    rows="auto,auto" 
                    columns="*,*"
                    backgroundColor="#FFFFFF"
                    borderWidth="2"
                    borderColor="#ECEFF1"
                    borderRadius="5"
                    padding="5"
                    paddingTop="10"
                    paddingBottom="10"
                    marginLeft="15"
                    marginright="15"
                    marginTop="5"
                    marginBottom="5">
                    
                    <StackLayout    
                        row="0"
                        col="0"
                        marginTop="5"
                        verticalAlignment="top"
                        horizontalAlignment="left"  
                        orientation="vertical">
                        <Label
                            class="ubuntu-medium"
                            marginTop="8"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="Date of Bird"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#616161">
                        </Label>
                        <Label
                            class="ubuntu-medium"
                            marginTop="2"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="{{DetailData.MasterCustomerData_DOB | date: 'dd MMMM yyyy'}}"
                            textWrap="true"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#212121">
                        </Label>

                        <Label
                            class="ubuntu-medium"
                            marginTop="8"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="Gender"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#616161">
                        </Label>
                        <Label
                            class="ubuntu-medium"
                            marginTop="2"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="{{DetailData.MasterCustomerData_Gender}}"
                            textWrap="true"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#212121">
                        </Label>

                        <Label
                            class="ubuntu-medium"
                            marginTop="8"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="Identity Card"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#616161">
                        </Label>
                        <Label
                            class="ubuntu-medium"
                            marginTop="2"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="{{DetailData.MasterIdentityCard_Name}} {{DetailData.MasterCustomerData_IdentityIDCardNumber}}"
                            textWrap="true"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#212121">
                        </Label>

                        <Label
                            class="ubuntu-medium"
                            marginTop="8"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="Religion"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#616161">
                        </Label>
                        <Label
                            class="ubuntu-medium"
                            marginTop="2"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="{{DetailData.MasterReligion_Name}}"
                            textWrap="true"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#212121">
                        </Label>

                    </StackLayout>
                    <StackLayout    
                        row="0"
                        col="1"
                        marginTop="5"
                        verticalAlignment="top"
                        horizontalAlignment="left"  
                        orientation="vertical">
                        <Label
                            class="ubuntu-medium"
                            marginTop="8"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="Bird Place"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#616161">
                        </Label>
                        <Label
                            class="ubuntu-medium"
                            marginTop="2"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="{{DetailData.MasterCustomerData_BirthPlace}}"
                            textWrap="true"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#212121">
                        </Label>

                        <Label
                            class="ubuntu-medium"
                            marginTop="8"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="Marital Status"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#616161">
                        </Label>
                        <Label
                            class="ubuntu-medium"
                            marginTop="2"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="{{DetailData.MasterCustomerData_MaritalStatus}}"
                            textWrap="true"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#212121">
                        </Label>


                        <Label
                            class="ubuntu-medium"
                            marginTop="8"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="Username"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#616161">
                        </Label>
                        <Label
                            class="ubuntu-medium"
                            marginTop="2"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="{{DetailData.MasterCustomerData_Username}}"
                            textWrap="true"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#212121">
                        </Label>

                    </StackLayout>

                    <StackLayout    
                        row="1"
                        colspan="2"
                        marginTop="5"
                        verticalAlignment="top"
                        horizontalAlignment="left"  
                        orientation="vertical">

                        <Label
                            class="ubuntu-medium"
                            marginTop="8"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="Address"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#616161">
                        </Label>
                        <Label
                            class="ubuntu-medium"
                            marginTop="2"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="{{DetailData.MasterCustomerData_Address}}"
                            textWrap="true"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#212121">
                        </Label>

                    </StackLayout>

                </GridLayout>

                <!--Customer Card-->
                <Label
                    class="ubuntu-medium"
                    marginTop="10"
                    marginLeft="15"
                    marginRight="15"
                    marginBottom="2"
                    fontSize="14" 
                    text="Customer Card"
                    verticalAlignment="center"
                    horizontalAlignment="left"
                    color="#212121">
                </Label>
                <GridLayout
                    rows="auto,auto" 
                    columns="*,*"
                    backgroundColor="#FFFFFF"
                    borderWidth="2"
                    borderColor="#ECEFF1"
                    borderRadius="5"
                    padding="5"
                    paddingBottom="10"
                    marginLeft="15"
                    marginright="15"
                    marginTop="5"
                    marginBottom="5">
                    

                    <StackLayout    
                        row="0"
                        col="0"
                        marginTop="5"
                        verticalAlignment="top"
                        horizontalAlignment="center"  
                        orientation="vertical">
                        <Image
                        borderTopLeftRadius="5"
                        borderTopRightRadius="5"
                        borderBottomLeftRadius="5"
                        borderBottomRightRadius="5"
                        margin="5"  
                        src="~/assets/image/MembershipCard.png"></Image>
                    </StackLayout>
                    <Label
                        row="0"
                        col="0"
                        class="ubuntu-medium"
                        fontSize="14" 
                        [text]="DetailData.Card.CustomerDataMemberCard_CardNumber"
                        verticalAlignment="center"
                        horizontalAlignment="center"
                        color="#FFFFFF">
                    </Label>

                    <StackLayout    
                        row="0"
                        col="1"
                        marginTop="5"
                        verticalAlignment="top"
                        horizontalAlignment="center"  
                        orientation="vertical">
                        <Image
                        borderTopLeftRadius="5"
                        borderTopRightRadius="5"
                        borderBottomLeftRadius="5"
                        borderBottomRightRadius="5"
                        margin="5"  
                        [src]="APIURL + DetailData.CardType.MasterMemberCardType_Picture"></Image>
                    </StackLayout>

                    <StackLayout    
                        row="1"
                        col="0"
                        marginTop="5"
                        verticalAlignment="top"
                        horizontalAlignment="left"  
                        orientation="vertical">
                        <!-- <Image
                        borderTopLeftRadius="5"
                        borderTopRightRadius="5"
                        borderBottomLeftRadius="5"
                        borderBottomRightRadius="5"
                        margin="5"  
                        src="~/assets/image/MembershipCard.png"></Image> -->
                        <Label
                            class="ubuntu-medium"
                            marginTop="8"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="Card Number"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#616161">
                        </Label>
                        <Label
                            class="ubuntu-medium"
                            marginTop="2"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            [text]="DetailData.Card.CustomerDataMemberCard_CardNumber"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#212121">
                        </Label>


                        <Label
                            class="ubuntu-medium"
                            marginTop="8"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="Registered at"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#616161">
                        </Label>
                        <Label
                            class="ubuntu-medium"
                            marginTop="2"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="{{DetailData.Card.CustomerDataMemberCard_CardRegistered | date: 'dd MMMM yyyy'}}"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#212121">
                        </Label>

                        <Label
                            class="ubuntu-medium"
                            marginTop="8"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="Expired at"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#616161">
                        </Label>
                        <Label
                            class="ubuntu-medium"
                            marginTop="2"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="{{DetailData.Card.CustomerDataMemberCard_ExpiredAt | date: 'dd MMMM yyyy'}}"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#212121">
                        </Label>

                        <Label
                            class="ubuntu-medium"
                            marginTop="8"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="Card Status"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#616161">
                        </Label>
                        <Label
                            class="ubuntu-medium"
                            marginTop="2"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="{{(DetailData.Card.CustomerDataMemberCard_IsCardExpired)? 'Usable' : 'Usable'}}"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#212121">
                        </Label>


                        <Label
                            class="ubuntu-medium"
                            marginTop="8"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="Active"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#616161">
                        </Label>
                        <Label
                            class="ubuntu-medium"
                            marginTop="2"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="{{(DetailData.Card.CustomerDataMemberCard_IsActive)? 'Yes' : 'No'}}"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#212121">
                        </Label>

                    </StackLayout>
                    <StackLayout    
                        row="1"
                        col="1"
                        marginTop="5"
                        verticalAlignment="top"
                        horizontalAlignment="left"  
                        orientation="vertical">

                        <Label
                            class="ubuntu-medium"
                            marginTop="8"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="Card Type"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#616161">
                        </Label>
                        <Label
                            class="ubuntu-medium"
                            marginTop="2"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            [text]="DetailData.CardType.MasterMemberCardType_Name"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#212121">
                        </Label>

                        <Label
                            class="ubuntu-medium"
                            marginTop="8"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="Registered at"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#616161">
                        </Label>
                        <Label
                            class="ubuntu-medium"
                            marginTop="2"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="{{DetailData.CardType.MasterMemberCardType_Registered | date: 'dd MMMM yyyy'}}"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#212121">
                        </Label>
                        
                        <Label
                            class="ubuntu-medium"
                            marginTop="8"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="Expired at"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#616161">
                        </Label>
                        <Label
                            class="ubuntu-medium"
                            marginTop="2"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="{{DetailData.CardType.MasterMemberCardType_Expired | date: 'dd MMMM yyyy'}}"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#212121">
                        </Label>

                        <Label
                            class="ubuntu-medium"
                            marginTop="8"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="Card Status"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#616161">
                        </Label>
                        <Label
                            class="ubuntu-medium"
                            marginTop="2"
                            marginLeft="5"
                            marginRight="5"
                            marginBottom="2"
                            fontSize="14" 
                            text="{{(DetailData.CardType.MasterMemberCardType_IsCardExpired)? 'Usable' : 'Usable'}}"
                            verticalAlignment="center"
                            horizontalAlignment="left"
                            color="#212121">
                        </Label>
                    </StackLayout>


                </GridLayout>


                
                <!--History-->
                <StackLayout>
                    <ng-container  *ngFor="let item of ListMenu; let i = index">
                        <StackLayout  
                            marginLeft="15"
                            marginRight="15"
                            marginTop="10"
                            marginBottom="10">
                
                            <StackLayout  
                                row="1" col="1"  
                                horizontalAlignment="center"
                                orientation="horizontal"
                                borderWidth="1"
                                borderColor="#263238"
                                background="#263238"
                                borderRadius="3"
                                width="100%"
                                (tap)="GoToTransDetail(i)">
                                <Label
                                    text="&#Xf1da;" 
                                    fontSize="16"
                                    paddingLeft="10"
                                    paddingRight="5"
                                    paddingTop="10"
                                    paddingBottom="10"
                                    style.textAlignment="center"
                                    color="#FFFFFF" 
                                    class="fas">
                                </Label> 
                                
                                <Label 
                                    [text]="item.Name"
                                    class="ubuntu-regular" 
                                    fontSize="16" 
                                    color="#FFFFFF"
                                    paddingTop="10"
                                    paddingBottom="10"
                                    paddingRight="10"
                                    style.textAlignment="center">
                                </Label> 
                            </StackLayout>
                            
                        </StackLayout>
                    </ng-container>
                </StackLayout>

            </StackLayout>

        </ScrollView>

    </PullToRefresh>

    <!--Loading Data-->
    <StackLayout 
        row="1" 
        *ngIf="isCustomerDetailListLoading == true"
        horizontalAlignment="center"
        verticalAlignment="center">
        <Image
            src="~/assets/image/loading-list.png" width="100%" height="100%">
        </Image>
    </StackLayout>

    <StackLayout 
        row="1" 
        *ngIf="isCustomerDetailListEmpty == true"
        orientation="vertical" 
        verticalAlignment="center">
        <Label 
            row="0" col="0"    
            text="&#Xf5c2;" 
            marginLeft="5" 
            fontSize="150"
            color="#90A4AE"
            horizontalAlignment="center" 
            class="far"></Label>
        <label 
            text="NO LIST FOUND!" 
            class="ubuntu-medium" 
            fontSize="18"
            marginTop="10" 
            color="#90A4AE"
            horizontalAlignment="center">
        </label>

        <GridLayout
            rows="auto"
            columns="auto,auto,auto" 
            orientation="horizontal"
            margin="15"
            horizontalAlignment="center"
            (tap)="BackAfterListEmpty()">
            <label 
                row="0" col="0"
                text="Don't worry, tap to " 
                class="ubuntu-medium" 
                fontSize="14"
                color="#90A4AE"
                horizontalAlignment="center">
            </label>
            <label 
                row="0" col="1"
                text="Refresh" 
                class="ubuntu-medium" 
                fontSize="14"
                color="#00695C"
                horizontalAlignment="center">
            </label>
            <label 
                row="0" col="2"
                text=" this Page. " 
                class="ubuntu-medium" 
                fontSize="14"
                color="#90A4AE"
                horizontalAlignment="center">
            </label>
        </GridLayout>

    </StackLayout>

</GridLayout>



