<!-- visibility="{{isCustomerMembershipCardListLoading == false && isCustomerMembershipCardListEmpty == false ? 'visible' : 'collapsed'}}" -->
<!-- borderWidth="0.5"
borderTopColor="#FFFFFF"
borderLeftColor="#FFFFFF"
borderRightColor="#FFFFFF"
borderBottomColor="#E0E0E0" -->
<GridLayout 
    rows="auto,*"
    [ngStyle]="{'margin-bottom': (isLoadMoreItem==true) ? '40' : ''}"
    (loaded)="onWrapperLoaded($event)"
    background="#ECEFF1">

    
    <GridLayout
        row="0" 
        rows="*"
        columns="auto,*"
        background="#FFFFFF"
        height="50"
        id="bar">
        <Label
            row="0" col="0"
            text="&#Xf060;" 
            fontSize="20"
            horizontalAlignment="center"
            verticalAlignment="center"
            paddingLeft="15"
            paddingRight="25"
            color="#212121" 
            class="fas"
            (tap)="BackToPageBefore()">
        </Label>
        <Label 
            row="0" col="1"
            text="Membership Card History" 
            class="ubuntu-regular"
            color="#212121"
            marginRight="5"
            horizontalAlignment="left"
            verticalAlignment="center"
            fontSize="18">
        </Label>
    </GridLayout>

    <PullToRefresh
        row="1" 
        *ngIf="isCustomerMembershipCardListLoading == false && isCustomerMembershipCardListEmpty == false"
        (refresh)="refreshList($event)" 
        color="black"> 
        
        <ScrollView orientation="vertical" (scroll)="loadMoreItems($event)" id="scrollview">

            <StackLayout
                orientation="vertical"
                marginTop="10"
                marginBottom="10">
                <ng-container *ngFor="let item of ListData; let i = index" >
                
                     
                    <GridLayout
                        rows="auto,auto,auto" 
                        columns="*,*"
                        backgroundColor="#FFFFFF"
                        borderWidth="2"
                        borderColor="#ECEFF1"
                        borderRadius="5"
                        padding="5"
                        paddingTop="10"
                        paddingBottom="10"
                        marginLeft="15"
                        marginright="15"
                        marginTop="5"
                        marginBottom="5">
                        
                        <StackLayout    
                            row="0"
                            colspan="2"
                            marginTop="5"
                            verticalAlignment="top"
                            horizontalAlignment="left"  
                            orientation="vertical">
                            <Label
                                class="ubuntu-medium"
                                marginTop="2"
                                marginLeft="5"
                                marginRight="5"
                                marginBottom="2"
                                fontSize="16" 
                                text="{{item.MasterMemberCardType_Name}}"
                                textWrap="true"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                color="#212121">
                            </Label>

                        </StackLayout>

                        <StackLayout    
                            row="1"
                            colspan="2"
                            marginTop="5"
                            verticalAlignment="top"
                            horizontalAlignment="left"  
                            orientation="vertical">
                            <Label
                                class="ubuntu-medium"
                                marginTop="2"
                                marginLeft="5"
                                marginRight="5"
                                marginBottom="2"
                                fontSize="14" 
                                text="{{item.CustomerDataMemberCard_CardNumber}}"
                                textWrap="true"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                color="#212121">
                            </Label>

                        </StackLayout>


                        <StackLayout    
                            row="2"
                            col="0"
                            marginTop="5"
                            verticalAlignment="top"
                            horizontalAlignment="left"  
                            orientation="vertical">
                            <Label
                                class="ubuntu-medium"
                                marginTop="8"
                                marginLeft="5"
                                marginRight="5"
                                marginBottom="2"
                                fontSize="14" 
                                text="Start Date"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                color="#616161">
                            </Label>
                            <Label
                                class="ubuntu-medium"
                                marginTop="2"
                                marginLeft="5"
                                marginRight="5"
                                marginBottom="2"
                                fontSize="14" 
                                text="{{item.CustomerDataMemberCardType_Registered | date: 'dd MMMM yyyy'}}"
                                textWrap="true"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                color="#212121">
                            </Label>

                        </StackLayout>
                        <StackLayout    
                            row="2"
                            col="1"
                            marginTop="5"
                            verticalAlignment="top"
                            horizontalAlignment="left"  
                            orientation="vertical">
                            <Label
                                class="ubuntu-medium"
                                marginTop="8"
                                marginLeft="5"
                                marginRight="5"
                                marginBottom="2"
                                fontSize="14" 
                                text="Evaluation Date"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                color="#616161">
                            </Label>
                            <Label
                                class="ubuntu-medium"
                                marginTop="2"
                                marginLeft="5"
                                marginRight="5"
                                marginBottom="2"
                                fontSize="14" 
                                text="{{item.CustomerDataMemberCardType_Expired | date: 'dd MMMM yyyy'}}"
                                textWrap="true"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                color="#212121">
                            </Label>

                        </StackLayout>

                    </GridLayout>

                    
                </ng-container>
                <StackLayout 
                    *ngIf="isLoadMoreItem == true"
                    background="#ECEFF1"
                    orientation="vertical" 
                    verticalAlignment="bottom">
                    <label 
                        text="{{LoadMoreItemMsg}}" 
                        class="ubuntu-regular" 
                        fontSize="12" 
                        color="#212121"
                        margin="15"
                        verticalAlignment="center" 
                        horizontalAlignment="center">
                    </label>
                </StackLayout>
            </StackLayout>

        </ScrollView>
      
    </PullToRefresh>

    <!--Loading Data-->
    <StackLayout 
        row="1" 
        *ngIf="isCustomerMembershipCardListLoading == true"
        horizontalAlignment="center"
        verticalAlignment="center">
        <Image
            src="~/assets/image/loading-list.png" width="100%" height="100%">
        </Image>
    </StackLayout>

    <!--Empty List-->
    <StackLayout 
        row="1" 
        *ngIf="isCustomerMembershipCardListEmpty == true"
        orientation="vertical" 
        verticalAlignment="center">
        <Label 
            row="0" col="0"    
            text="&#Xf5c2;" 
            marginLeft="5" 
            fontSize="150"
            color="#90A4AE"
            horizontalAlignment="center" 
            class="far"></Label>
        <label 
            text="NO LIST FOUND!" 
            class="ubuntu-medium" 
            fontSize="18"
            marginTop="10" 
            color="#90A4AE"
            horizontalAlignment="center">
        </label>

        <GridLayout
            rows="auto"
            columns="auto,auto,auto" 
            orientation="horizontal"
            margin="15"
            horizontalAlignment="center"
            (tap)="BackAfterListEmpty()">
            <label 
                row="0" col="0"
                text="Tap to " 
                class="ubuntu-medium" 
                fontSize="14"
                color="#90A4AE"
                horizontalAlignment="center">
            </label>
            <label 
                row="0" col="1"
                text="Refresh" 
                class="ubuntu-medium" 
                fontSize="14"
                color="#00695C"
                horizontalAlignment="center">
            </label>
            <label 
                row="0" col="2"
                text=" this Page. " 
                class="ubuntu-medium" 
                fontSize="14"
                color="#90A4AE"
                horizontalAlignment="center">
            </label>
        </GridLayout>

    </StackLayout>

</GridLayout>








