.home-bg-color{
  background: #108dc7;  /* fallback for old browsers */
}

.home-icon-scan{
    margin-top:20px;
    font-size: 30px;
    text-align: center;
}

.history-date-font{
	font-family: "Ubuntu-Italic";
	font-size: 17;
}




.far {
    font-family: "Font Awesome 5 Free", "fa-regular-400";
}

.fab {
    font-family: "Font Awesome 5 Brands", "fa-brands-400";
}

.fas {
    font-family: "Font Awesome 5 Free", "fa-solid-900";
}

.ico {
    font-family: "IcoMoon-Free";
}

.ubuntu-16-regular{
    font-size: 17;
    font-family: "Ubuntu-Regular";
    color: #fff;
}

.data-name-font{
    font-size: 18;
    font-family: "Ubuntu-Medium";
    color: #000;
}

.data-child-font{
    font-size: 15;
    font-family: "Ubuntu-Regular";
    color: #000;
}

.home-panel{
	vertical-align: center;
	font-size: 15;
	margin: auto;
	width: 100%;
	padding: 10px;
}