<ActionBar title="Admin-modal-history" class="action-bar">
</ActionBar>

<ScrollView class="page">
    <StackLayout class="home-panel">
        <!--Checkpoint 1-->
        <Label text="Checkpoint : 1"></Label>
        <Label text="Checkpoint Detail : Blok A"></Label>
        <Label text="Start Time : 21-12-2019 15:00"></Label>
        <Label text="End Time : 21-12-2019 15:30"></Label>
        <Label text="Scan Time : 21-12-2019 15:14"></Label>
        <Label text="Guard : Muhamad Ari Bima Dirgantoro"></Label>
        <!--Checkpoint 2-->
        <Label></Label>
        <Label text="Checkpoint : 2"></Label>
        <Label text="Checkpoint Detail : Blok B"></Label>
        <Label text="Start Time : 21-12-2019 15:30"></Label>
        <Label text="End Time : 21-12-2019 16:00"></Label>
        <Label text="Scan Time : 21-12-2019 15:34"></Label>
        <Label text="Guard : Muhamad Ari Bima Dirgantoro"></Label>
    </StackLayout>
</ScrollView>