
<GridLayout 
    rows="auto,auto,*"
    class="container">
    <GridLayout
        row="0" 
        rows="*"
        columns="auto,*"
        background="#004D40"
        height="50"
        id="bar">
        <Label
            row="0" col="0"
            text="&#Xf060;" 
            fontSize="20"
            horizontalAlignment="center"
            verticalAlignment="center"
            paddingLeft="15"
            paddingRight="25"
            color="#FFFFFF" 
            class="fas"
            (tap)="BackToPageBefore()">
        </Label>
        <Label 
            row="0" col="1"
            text="Forgot Password" 
            class="ubuntu-regular"
            color="#FFFFFF"
            marginRight="5"
            horizontalAlignment="left"
            verticalAlignment="center"
            fontSize="18">
        </Label>
    </GridLayout>

    <StackLayout  row="1"  class="dataEntryLayout">
        
        <label 
            text="{{Msg}}" 
            marginBottom = "30"
            textWrap="true"
            class="ubuntu-regular" 
            fontSize="20" 
            style="color: #f8a99f" 
            horizontalAlignment="center">
        </label>

        <StackLayout class="input-field">
            <TextField #inputRequired class="ubuntu-regular input"
                fontSize="16"
                KeyboardType="email"
                [(ngModel)]="Email" hint="E-mail Address">
            </TextField>
        </StackLayout>
        <StackLayout 
            *ngIf="SendLoading == false"
            class="btn btn-signin btn-block" 
            orientation="horizontal" padding="5" style="horizontal-align:center;"
            (tap)="ForgotPasswordSubmit()">
            <Image
                src="~/assets/icon/SendIcon.png" width="12%"
                marginRight="3">
            </Image>
            <label text="SEND" class="ubuntu-regular" fontSize="20" style="color: #ee3923" verticalAlignment="center"></label>
        </StackLayout>
        <StackLayout 
            *ngIf="SendLoading == true"
            class="btn btn-signin btn-block" 
            orientation="horizontal" padding="5" style="horizontal-align:center;">
            <Image
                src="~/assets/icon/SendIcon-Disabled.png" width="12%"
                marginRight="3">
            </Image>
            <label text="SENDING.." class="ubuntu-regular" fontSize="20" style="color: #f8a99f" verticalAlignment="center"></label>
        </StackLayout>
    </StackLayout>


</GridLayout>



