<!-- visibility="{{isBrandListLoading == false && isBrandListEmpty == false ? 'visible' : 'collapsed'}}" -->
<!-- borderWidth="0.5"
borderTopColor="#FFFFFF"
borderLeftColor="#FFFFFF"
borderRightColor="#FFFFFF"
borderBottomColor="#E0E0E0" -->
<GridLayout 
    rows="auto,*"
    [ngStyle]="{'margin-bottom': (isLoadMoreItem==true) ? '40' : ''}"
    background="#ECEFF1"
    (loaded)="onWrapperLoaded($event)">

    
    <GridLayout
        row="0" 
        rows="*"
        columns="auto,*,auto,auto"
        background="#FFFFFF"
        height="50"
        id="bar">
        <Label
            row="0" col="0"
            text="&#Xf060;" 
            fontSize="20"
            horizontalAlignment="center"
            verticalAlignment="center"
            paddingLeft="15"
            paddingRight="25"
            color="#212121" 
            class="fas"
            (tap)="BackToPageBefore()">
        </Label>
        <Label 
            row="0" col="1"
            text="Brands" 
            class="ubuntu-regular"
            color="#212121"
            marginRight="5"
            horizontalAlignment="left"
            verticalAlignment="center"
            fontSize="18">
        </Label>
        <GridLayout
            row="0" col="2"
            rows="auto"
            columns="auto,*,auto" 
            class="btn"
            background="#F5F5F5" 
            orientation="horizontal"
            borderRadius="5"
            [ngStyle]="{'width': (ListRequest.Search == '') ? '' : '40%'}"
            (tap)="GoToBrandSearchPage()">
            <Label
                row="0" col="0"
                text="&#Xf002;" 
                fontSize="14"
                horizontalAlignment="center"
                verticalAlignment="center"
                marginLeft="4"
                color="#424242" 
                class="fas">
            </Label>
            <label
                *ngIf="ListRequest.Search == ''" 
                row="0" col="1"
                text="Search Brand..." 
                class="ubuntu-regular"
                marginLeft="7" 
                marginRight="4" 
                fontSize="14" 
                color= "#424242"
                horizontalAlignment="left"
                verticalAlignment="center">
            </label>
            <label
                *ngIf="ListRequest.Search != ''" 
                row="0" col="1"
                text="{{ListRequest.Search}}" 
                class="ubuntu-regular"
                marginLeft="7" 
                marginRight="4" 
                fontSize="14" 
                color= "#424242"
                horizontalAlignment="left"
                verticalAlignment="center">
            </label>
            <Label
                *ngIf="ListRequest.Search != ''" 
                row="0" col="2"
                text="&#Xf057;" 
                fontSize="18"
                horizontalAlignment="center"
                verticalAlignment="center"
                marginLeft="4" 
                marginRight="4" 
                color="#424242" 
                class="far"
                (tap)="TimesClick()">
            </Label>
        </GridLayout>
        <Label
            row="0" col="3"
            text="&#Xf550;" 
            fontSize="20"
            horizontalAlignment="right"
            verticalAlignment="center"
            marginLeft="5"
            marginRight="15"
            color="#212121" 
            class="fas"
            (tap)="GoToBrandFilterPage()">
        </Label>
        <Label
            *ngIf="ListRequest.MasterStoreCategory_ID != null"
            row="0" col="3"
            text="&#Xf00c;" 
            fontSize="12"
            horizontalAlignment="right"
            verticalAlignment="top"
            margin="8"
            color="#00838F" 
            class="fas">
        </Label>
    </GridLayout>

    <PullToRefresh
        row="1" 
        *ngIf="isBrandListLoading == false && isBrandListEmpty == false"
        (refresh)="refreshList($event)" 
        color="black"> 
        
        <ScrollView orientation="vertical" (scroll)="loadMoreItems($event)" id="scrollview">

            <StackLayout
                orientation="vertical">

                <ng-container *ngFor="let item of ListData; let i = index" >
                          
                    <GridLayout
                        rows="*,auto" 
                        columns="*"
                        backgroundColor="#ECEFF1"   
                        marginLeft="15"
                        marginRight="15"
                        marginTop="15"
                        marginBottom="10"> 
                        <StackLayout 
                            row="0" col="0"     
                            borderRadius="3"     
                            backgroundColor="white">
                            <Image
                                borderTopLeftRadius="5"
                                borderTopRightRadius="5"  
                                *ngIf="item.MasterBrand_Picture != ''" [src]="APIURL+item.MasterBrand_Picture"></Image>
                            <Image
                                borderTopLeftRadius="5"
                                borderTopRightRadius="5"   
                                *ngIf="item.MasterBrand_Picture == ''" src="~/assets/image/no-image.png"></Image>    
                            <GridLayout  rows="*" columns="*,*" >
                                <Label
                                    row="0"
                                    colspan="2" 
                                    class="ubuntu-medium"
                                    margin="15"
                                    fontSize="16" 
                                    [text]="item.MasterBrand_Name"
                                    verticalAlignment="center"
                                    horizontalAlignment="left">
                                </Label>
                            </GridLayout>
                            <GridLayout
                                rows="*,*,*" 
                                columns="*,*">
                                <StackLayout
                                    row="0" colspan="2"    
                                    orientation="horizontal"
                                    horizontalAlignment="Left">
                                    <Label 
                                        class="ubuntu-regular" 
                                        [text]="item.MasterBrand_Description"
                                        marginLeft="15"
                                        marginRight="15"
                                        marginBottom="15"
                                        color="#616161"
                                        fontSize="12">
                                    </Label>     
                                </StackLayout>    
                                
                                <StackLayout
                                    row="1" colspan="2"    
                                    orientation="horizontal"
                                    horizontalAlignment="Left">
                                    <Label 
                                        text="&#Xf02b;" 
                                        marginLeft="15" 
                                        marginBottom="15"
                                        fontSize="12"
                                        color="#616161" 
                                        class="fas"></Label>
                                    <Label 
                                        class="ubuntu-regular" 
                                        [text]="item.MasterStoreCategory_Name"
                                        marginLeft="5"
                                        marginBottom="15"
                                        color="#616161"
                                        fontSize="12">
                                    </Label>     
                                </StackLayout>       

                                <StackLayout
                                    row="2" colspan="2"
                                    orientation="horizontal"
                                    horizontalAlignment="center">
                                    <Label 
                                        class="ubuntu-bold" 
                                        text="View Detail"
                                        marginTop="15"
                                        marginRight="15"
                                        marginBottom="15"
                                        fontSize="12"
                                        (tap)="ViewDetail(i)">
                                    </Label>      
                                </StackLayout>   

                            </GridLayout>                   
                        </StackLayout>
                    </GridLayout>
                    
                </ng-container>
                <StackLayout 
                    *ngIf="isLoadMoreItem == true"
                    background="#ECEFF1"
                    orientation="vertical" 
                    verticalAlignment="bottom">
                    <label 
                        text="{{LoadMoreItemMsg}}" 
                        class="ubuntu-regular" 
                        fontSize="12" 
                        color="#212121"
                        margin="15"
                        verticalAlignment="center" 
                        horizontalAlignment="center">
                    </label>
                </StackLayout>
            </StackLayout>

        </ScrollView>
      
    </PullToRefresh>

    <!--Loading Data-->
    <StackLayout 
        row="1" 
        *ngIf="isBrandListLoading == true"
        horizontalAlignment="center"
        verticalAlignment="center">
        <Image
            src="~/assets/image/loading-list.png" width="100%" height="100%">
        </Image>
    </StackLayout>

    <!--Empty List-->
    <StackLayout 
        row="1" 
        *ngIf="isBrandListEmpty == true"
        orientation="vertical" 
        verticalAlignment="center">
        <Label 
            row="0" col="0"    
            text="&#Xf5c2;" 
            marginLeft="5" 
            fontSize="150"
            color="#90A4AE"
            horizontalAlignment="center" 
            class="far"></Label>
        <label 
            text="NO LIST FOUND!" 
            class="ubuntu-medium" 
            fontSize="18"
            marginTop="10" 
            color="#90A4AE"
            horizontalAlignment="center">
        </label>

        <GridLayout
            rows="auto"
            columns="auto,auto,auto" 
            orientation="horizontal"
            margin="15"
            horizontalAlignment="center"
            (tap)="BackAfterListEmpty()">
            <label 
                row="0" col="0"
                text="Tap to " 
                class="ubuntu-medium" 
                fontSize="14"
                color="#90A4AE"
                horizontalAlignment="center">
            </label>
            <label 
                row="0" col="1"
                text="Refresh" 
                class="ubuntu-medium" 
                fontSize="14"
                color="#00695C"
                horizontalAlignment="center">
            </label>
            <label 
                row="0" col="2"
                text=" this Page. " 
                class="ubuntu-medium" 
                fontSize="14"
                color="#90A4AE"
                horizontalAlignment="center">
            </label>
        </GridLayout>

    </StackLayout>

</GridLayout>








