.home-panel{
	vertical-align: center;
	font-size: 20;
	margin: auto;
	width: 100%;
	padding: 10px;
}

label {
	color: #000;
	margin: 5px;
}


.far {
    font-family: "Font Awesome 5 Free", "fa-regular-400";
}

.fab {
    font-family: "Font Awesome 5 Brands", "fa-brands-400";
}

.fas {
    font-family: "Font Awesome 5 Free", "fa-solid-900";
}

.ico {
    font-family: "IcoMoon-Free";
}