<ActionBar title="AdminHome-modal-1" class="action-bar">
</ActionBar>

<ScrollView class="page">
    <StackLayout class="home-panel">
        <!--Checkpoint 1-->
        <Label text="ID : 23483284322843"></Label>
        <Label text="Route : 1"></Label>
        <Label text="Detail : Ground Floor"></Label>
        <Label text="Checkpoint : 1"></Label>
        <Label text="Checkpoint Detail : Blok A"></Label>
        <Label text="Start : 21-12-2019 15:00"></Label>
        <Label text="End : 21-12-2019 15:30"></Label>
        <Label text="Completed" class="fas" textAlignment="center"></Label>
        <!--Checkpoint 2-->
        <Label></Label>
        <Label text="ID : 23483284322844"></Label>
        <Label text="Route : 1"></Label>
        <Label text="Detail : Ground Floor"></Label>
        <Label text="Checkpoint : 2"></Label>
        <Label text="Checkpoint Detail : Blok B"></Label>
        <Label text="Start : 21-12-2019 15:30"></Label>
        <Label text="End : 21-12-2019 16:00"></Label>
        <Button text="&#xf029; SCAN" class="fas" (tap)="close()"></Button>
        <!--Checkpoint 3-->
        <Label></Label>
        <Label text="ID : 23483284322845"></Label>
        <Label text="Route : 1"></Label>
        <Label text="Detail : Ground Floor"></Label>
        <Label text="Checkpoint : 3"></Label>
        <Label text="Checkpoint Detail : Blok C"></Label>
        <Label text="Start : 21-12-2019 16:00"></Label>
        <Label text="End : 21-12-2019 16:30"></Label>
        <Button text="&#xf029; SCAN" class="fas" (tap)="close()"></Button>
        <!--Checkpoint 4-->
        <Label></Label>
        <Label text="ID : 23483284322846"></Label>
        <Label text="Route : 1"></Label>
        <Label text="Detail : Ground Floor"></Label>
        <Label text="Checkpoint : 4"></Label>
        <Label text="Checkpoint Detail : Blok D"></Label>
        <Label text="Start : 21-12-2019 16:30"></Label>
        <Label text="End : 21-12-2019 17:00"></Label>
        <Button text="&#xf029; SCAN" class="fas" (tap)="close()"></Button>
        <!--Checkpoint 5-->
        <Label></Label>
        <Label text="ID : 23483284322847"></Label>
        <Label text="Route : 1"></Label>
        <Label text="Detail : Ground Floor"></Label>
        <Label text="Checkpoint : 5"></Label>
        <Label text="Checkpoint Detail : Blok E"></Label>
        <Label text="Start : 21-12-2019 17:00"></Label>
        <Label text="End : 21-12-2019 17:30"></Label>
        <Button text="&#xf029; SCAN" class="fas" (tap)="close()"></Button>
    </StackLayout>
</ScrollView>