<GridLayout
    rows="auto,*">

    
    <GridLayout
        row="0" 
        rows="*"
        columns="auto,*"
        background="#FFFFFF"
        height="50"
        id="bar">
        <Label
            row="0" col="0"
            text="&#Xf060;" 
            fontSize="20"
            horizontalAlignment="center"
            verticalAlignment="center"
            paddingLeft="15"
            paddingRight="25"
            color="#212121" 
            class="fas"
            (tap)="BackToPageBefore()">
        </Label>
        <Label 
            row="0" col="1"
            text="Detail Redeem" 
            class="ubuntu-regular"
            color="#212121"
            marginRight="5"
            horizontalAlignment="left"
            verticalAlignment="center"
            fontSize="18">
        </Label>
    </GridLayout>

    <PullToRefresh
        row="1" 
        *ngIf="isRedeemDetailLoading == false && isRedeemDetailEmpty == false"
        (refresh)="refreshDetail($event)" 
        color="black"> 
    
        <ScrollView orientation="vertical">

            <StackLayout
                orientation="vertical"
                backgroundColor="#FFFFFF"
                marginBottom="10">
                
                <GridLayout
                    rows="auto,*,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto" 
                    columns="*,*"
                    backgroundColor="#FFFFFF"
                    borderBottomWidth="5"
                    paddingBottom="5"
                    borderColor="#CFD8DC">

                    <Label
                        row="0" colspan="2" 
                        class="ubuntu-medium" 
                        [text]="DetailData.MasterRedeem_Name"
                        textWrap="true"
                        marginTop="5"
                        marginLeft="15"
                        marginRight="15"
                        marginBottom="5"
                        borderColor="#EEEEEE"
                        fontSize="22">
                    </Label>   
                    <Label
                        row="1" colspan="2" 
                        class="ubuntu-regular" 
                        [text]="DetailData.MasterRedeem_Description"
                        textWrap="true"
                        marginTop="15"
                        marginLeft="15"
                        marginRight="15"
                        marginBottom="20"
                        fontSize="12x">
                    </Label>   
                    
                    <StackLayout
                        *ngIf="DetailData.MasterStoreCategory_ID != null"
                        row="2" col="0"    
                        orientation="horizontal"
                        horizontalAlignment="Left">
                        <Label 
                            text="Store Category" 
                            marginTop="3"
                            marginLeft="15" 
                            marginBottom="10"
                            fontSize="14"
                            color="#212121"
                            class="ubuntu-regular">
                        </Label>     
                    </StackLayout>    
                    <StackLayout
                        *ngIf="DetailData.MasterStoreCategory_ID != null"
                        row="2" col="1"
                        orientation="horizontal"
                        horizontalAlignment="right">
                        <Label 
                            class="ubuntu-medium" 
                            text="{{DetailData.MasterStoreCategory_Name}}"
                            textWrap="true"
                            marginTop="3"
                            marginRight="15"
                            marginBottom="10"
                            fontSize="14">
                        </Label>      
                    </StackLayout>
                    
                    <StackLayout
                        row="3" col="0"    
                        orientation="horizontal"
                        horizontalAlignment="Left">
                        <Label 
                            text="Redeem Type" 
                            marginTop="3"
                            marginLeft="15" 
                            marginBottom="10"
                            fontSize="14"
                            color="#212121"
                            class="ubuntu-regular">
                        </Label>     
                    </StackLayout>    
                    <StackLayout
                        row="3" col="1"
                        orientation="horizontal"
                        horizontalAlignment="right">
                        <Label 
                            class="ubuntu-medium" 
                            text="{{DetailData.MasterRedeemType_Name}}"
                            textWrap="true"
                            marginTop="3"
                            marginRight="15"
                            marginBottom="10"
                            fontSize="14">
                        </Label>      
                    </StackLayout>

                    <StackLayout
                        *ngIf="DetailData.MasterRedeem_Stock != null"
                        row="4" col="0"    
                        orientation="horizontal"
                        horizontalAlignment="Left">
                        <Label 
                            text="Stock" 
                            marginTop="3"
                            marginLeft="15" 
                            marginBottom="10"
                            fontSize="14"
                            color="#212121"
                            class="ubuntu-regular">
                        </Label>     
                    </StackLayout>    
                    <StackLayout
                        *ngIf="DetailData.MasterRedeem_Stock != null"
                        row="4" col="1"
                        orientation="horizontal"
                        horizontalAlignment="right">
                        <Label 
                            class="ubuntu-medium" 
                            text="{{DetailData.MasterRedeem_Stock}} {{DetailData.MasterMeasurement_Name}}"
                            textWrap="true"
                            marginTop="3"
                            marginRight="15"
                            marginBottom="10"
                            fontSize="14">
                        </Label>      
                    </StackLayout>

                    <StackLayout
                        *ngIf="DetailData.MasterRedeem_StartDate != null"
                        row="5" col="0"    
                        orientation="horizontal"
                        horizontalAlignment="Left">
                        <Label 
                            text="Start Date" 
                            marginTop="3"
                            marginLeft="15" 
                            marginBottom="10"
                            fontSize="14"
                            color="#212121"
                            class="ubuntu-regular">
                        </Label>     
                    </StackLayout>    
                    <StackLayout
                        *ngIf="DetailData.MasterRedeem_StartDate != null"
                        row="5" col="1"
                        orientation="horizontal"
                        horizontalAlignment="right">
                        <Label 
                            class="ubuntu-medium" 
                            text="{{DetailData.MasterRedeem_StartDate | date: 'dd MMMM yyyy'}}"
                            textWrap="true"
                            marginTop="3"
                            marginRight="15"
                            marginBottom="10"
                            fontSize="14">
                        </Label>      
                    </StackLayout>

                    <StackLayout
                        *ngIf="DetailData.MasterRedeem_EndDate != null"
                        row="6" col="0"    
                        orientation="horizontal"
                        horizontalAlignment="Left">
                        <Label 
                            text="End Date" 
                            marginTop="3"
                            marginLeft="15" 
                            marginBottom="10"
                            fontSize="14"
                            color="#212121"
                            class="ubuntu-regular">
                        </Label>     
                    </StackLayout>    
                    <StackLayout
                        *ngIf="DetailData.MasterRedeem_EndDate != null"
                        row="6" col="1"
                        orientation="horizontal"
                        horizontalAlignment="right">
                        <Label 
                            class="ubuntu-medium" 
                            text="{{DetailData.MasterRedeem_EndDate | date: 'dd MMMM yyyy'}}"
                            textWrap="true"
                            marginTop="3"
                            marginRight="15"
                            marginBottom="10"
                            fontSize="14">
                        </Label>      
                    </StackLayout>

                    <StackLayout
                        *ngIf="DetailData.MasterRedeem_Price != null"
                        row="7" col="0"    
                        orientation="horizontal"
                        horizontalAlignment="Left">
                        <Label 
                            text="Produk Price" 
                            marginTop="3"
                            marginLeft="15" 
                            marginBottom="10"
                            fontSize="14"
                            color="#212121"
                            class="ubuntu-regular">
                        </Label>     
                    </StackLayout>    
                    <StackLayout
                        *ngIf="DetailData.MasterRedeem_Price != null"
                        row="7" col="1"
                        orientation="horizontal"
                        horizontalAlignment="right">
                        <Label 
                            class="ubuntu-medium" 
                            text="{{DetailData.MasterRedeem_Price | currency:'Rp. ': 'symbol' : '1.0'}}"
                            textWrap="true"
                            marginTop="3"
                            marginRight="15"
                            marginBottom="10"
                            fontSize="14">
                        </Label>      
                    </StackLayout>

                    <StackLayout
                        *ngIf="DetailData.MasterRedeem_ObtainedLuckyDrawPoint != null"
                        row="8" col="0"    
                        orientation="horizontal"
                        horizontalAlignment="Left">
                        <Label 
                            text="Obtained Lucky Draw Point" 
                            marginTop="3"
                            marginLeft="15" 
                            marginBottom="10"
                            fontSize="14"
                            color="#212121"
                            class="ubuntu-regular">
                        </Label>     
                    </StackLayout>    
                    <StackLayout
                        *ngIf="DetailData.MasterRedeem_ObtainedLuckyDrawPoint != null"
                        row="8" col="1"
                        orientation="horizontal"
                        horizontalAlignment="right">
                        <Label 
                            class="ubuntu-medium" 
                            text="{{DetailData.MasterRedeem_ObtainedLuckyDrawPoint}} Point"
                            textWrap="true"
                            marginTop="3"
                            marginRight="15"
                            marginBottom="10"
                            fontSize="14">
                        </Label>      
                    </StackLayout>
                    
                    <StackLayout
                        row="9" col="0"    
                        orientation="horizontal"
                        horizontalAlignment="Left">
                        <Label 
                            text="Redeem Point Reqiured" 
                            marginTop="3"
                            marginLeft="15" 
                            marginBottom="10"
                            fontSize="14"
                            color="#212121"
                            class="ubuntu-regular">
                        </Label>     
                    </StackLayout>    
                    <StackLayout
                        row="9" col="1"
                        orientation="horizontal"
                        horizontalAlignment="right">
                        <Label 
                            class="ubuntu-medium" 
                            text="{{DetailData.MasterRedeem_RedeemPointReqiured}} Point"
                            textWrap="true"
                            marginTop="3"
                            marginRight="15"
                            marginBottom="10"
                            fontSize="14">
                        </Label>      
                    </StackLayout>

                    <StackLayout
                        row="10" col="0"    
                        orientation="horizontal"
                        horizontalAlignment="Left">
                        <Label 
                            text="Limit" 
                            marginTop="3"
                            marginLeft="15" 
                            marginBottom="10"
                            fontSize="14"
                            color="#212121"
                            class="ubuntu-regular">
                        </Label>     
                    </StackLayout>    
                    <StackLayout
                        row="10" col="1"
                        orientation="horizontal"
                        horizontalAlignment="right">
                        <Label 
                            class="ubuntu-medium" 
                            text="{{(DetailData.MasterRedeem_RedeemLimit == 1)? 'yes' : 'no'}}"
                            textWrap="true"
                            marginTop="3"
                            marginRight="15"
                            marginBottom="10"
                            fontSize="14">
                        </Label>      
                    </StackLayout>

                    <StackLayout
                        *ngIf="DetailData.MasterRedeem_RedeemLimitEvery != null"
                        row="11" col="0"    
                        orientation="horizontal"
                        horizontalAlignment="Left">
                        <Label 
                            text="Limit Every" 
                            marginTop="3"
                            marginLeft="15" 
                            marginBottom="10"
                            fontSize="14"
                            color="#212121"
                            class="ubuntu-regular">
                        </Label>     
                    </StackLayout>    
                    <StackLayout
                        *ngIf="DetailData.MasterRedeem_RedeemLimitEvery != null"
                        row="11" col="1"
                        orientation="horizontal"
                        horizontalAlignment="right">
                        <Label 
                            class="ubuntu-medium" 
                            text="{{DetailData.MasterRedeem_RedeemLimitEvery}} day"
                            textWrap="true"
                            marginTop="3"
                            marginRight="15"
                            marginBottom="10"
                            fontSize="14">
                        </Label>      
                    </StackLayout>

                    <StackLayout
                        *ngIf="DetailData.MasterRedeem_RedeemLimitNumber != null"
                        row="12" col="0"    
                        orientation="horizontal"
                        horizontalAlignment="Left">
                        <Label 
                            text="Limit times" 
                            marginTop="3"
                            marginLeft="15" 
                            marginBottom="10"
                            fontSize="14"
                            color="#212121"
                            class="ubuntu-regular">
                        </Label>     
                    </StackLayout>    
                    <StackLayout
                        *ngIf="DetailData.MasterRedeem_RedeemLimitNumber != null"
                        row="12" col="1"
                        orientation="horizontal"
                        horizontalAlignment="right">
                        <Label 
                            class="ubuntu-medium" 
                            text="{{DetailData.MasterRedeem_RedeemLimitNumber}} times"
                            textWrap="true"
                            marginTop="3"
                            marginRight="15"
                            marginBottom="10"
                            fontSize="14">
                        </Label>      
                    </StackLayout>


                    <StackLayout
                        row="13" col="0"    
                        orientation="horizontal"
                        horizontalAlignment="Left">
                        <Label 
                            text="State" 
                            marginTop="3"
                            marginLeft="15" 
                            marginBottom="10"
                            fontSize="14"
                            color="#212121"
                            class="ubuntu-regular">
                        </Label>     
                    </StackLayout>    
                    <StackLayout
                        row="13" col="1"
                        orientation="horizontal"
                        horizontalAlignment="right">
                        <Label 
                            class="ubuntu-medium" 
                            text="{{DetailData.MasterRedeem_IsActive ? 'Active' : 'Inactive'}}"
                            textWrap="true"
                            marginTop="3"
                            marginRight="15"
                            marginBottom="10"
                            fontSize="14">
                        </Label>      
                    </StackLayout>

                </GridLayout>
                
                <GridLayout
                    rows="auto,auto,auto,auto,auto,auto,auto" 
                    columns="*"
                    borderTopWidth="5"
                    borderColor="#CFD8DC">
                    <Label
                        row="0" colspan="2" 
                        class="ubuntu-medium" 
                        text="Applies to"
                        textWrap="true"
                        marginTop="15"
                        marginLeft="15"
                        marginRight="15"
                        marginBottom="5"
                        borderColor="#EEEEEE"
                        fontSize="16">
                    </Label>   
                    
                    <Label
                        *ngIf="DetailData.Site != null"
                        row="1" colspan="2" 
                        class="ubuntu-regular" 
                        text="Malls"
                        textWrap="true"
                        marginTop="15"
                        marginLeft="15"
                        marginRight="15"
                        marginBottom="5"
                        borderColor="#EEEEEE"
                        fontSize="14">
                    </Label>   
                    <WrapLayout
                        *ngIf="DetailData.Site != null"     
                        row="2"
                        col="0"
                        marginLeft="15"
                        marginRight="15"  
                        orientation="horizontal">
                        <ng-container *ngFor="let item of DetailData.Site; let i = index">
                            
                            <Label
                                class="ubuntu-medium"
                                borderRadius="5"
                                borderWidth="0.5"
                                padding="10"
                                marginLeft="2"
                                marginRight="2"
                                marginTop="5"
                                marginBottom="5"
                                fontSize="12" 
                                [text]="item.MasterSite_Name"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                background="#E0F2F1"
                                borderColor="#26A69A"
                                color="#212121">
                            </Label> 
                        </ng-container>
                    </WrapLayout>

                    <Label
                        *ngIf="DetailData.Merchant != null"
                        row="3" colspan="2" 
                        class="ubuntu-regular" 
                        text="Merchants"
                        textWrap="true"
                        marginTop="15"
                        marginLeft="15"
                        marginRight="15"
                        marginBottom="5"
                        borderColor="#EEEEEE"
                        fontSize="14">
                    </Label>   
                    <WrapLayout
                        *ngIf="DetailData.Merchant != null"     
                        row="4"
                        col="0"
                        marginLeft="15"
                        marginRight="15"  
                        orientation="horizontal">
                        <ng-container *ngFor="let item of DetailData.Merchant; let i = index">
                            
                            <Label
                                class="ubuntu-medium"
                                borderRadius="5"
                                borderWidth="0.5"
                                padding="10"
                                marginLeft="2"
                                marginRight="2"
                                marginTop="5"
                                marginBottom="5"
                                fontSize="12" 
                                [text]="item.MasterMerchant_Name"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                background="#E0F2F1"
                                borderColor="#26A69A"
                                color="#212121">
                            </Label> 
                        </ng-container>
                    </WrapLayout>


                    <Label
                        *ngIf="DetailData.CardType != null"
                        row="5" colspan="2" 
                        class="ubuntu-regular" 
                        text="Card Type"
                        textWrap="true"
                        marginTop="15"
                        marginLeft="15"
                        marginRight="15"
                        marginBottom="5"
                        borderColor="#EEEEEE"
                        fontSize="14">
                    </Label>   
                    <WrapLayout
                        *ngIf="DetailData.CardType != null"     
                        row="6"
                        col="0"
                        marginLeft="15"
                        marginRight="15"  
                        orientation="horizontal">
                        <ng-container *ngFor="let item of DetailData.CardType; let i = index">
                            
                            <Label
                                class="ubuntu-medium"
                                borderRadius="5"
                                borderWidth="0.5"
                                padding="10"
                                marginLeft="2"
                                marginRight="2"
                                marginTop="5"
                                marginBottom="5"
                                fontSize="12" 
                                [text]="item.MasterMemberCardType_Name"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                background="#E0F2F1"
                                borderColor="#26A69A"
                                color="#212121">
                            </Label> 
                        </ng-container>
                    </WrapLayout>

                </GridLayout>

            </StackLayout>

        </ScrollView>

    </PullToRefresh>


</GridLayout>


