
<GridLayout 
    rows="auto,auto,*"
    background="#ECEFF1">
    <GridLayout
        row="0" 
        rows="*"
        columns="auto,*"
        background="#FFFFFF"
        height="50"
        id="bar">
        <Label
            row="0" col="0"
            text="&#Xf060;" 
            fontSize="20"
            horizontalAlignment="center"
            verticalAlignment="center"
            paddingLeft="15"
            paddingRight="25"
            color="#212121" 
            class="fas"
            (tap)="BackToPageBefore()">
        </Label>
        <Label 
            row="0" col="1"
            text="Printer Setting" 
            class="ubuntu-regular"
            color="#212121"
            marginRight="5"
            horizontalAlignment="left"
            verticalAlignment="center"
            fontSize="18">
        </Label>
    </GridLayout>

    <!-- <GridLayout
        row="1" 
        rows="*"
        columns="*,*,*"
        background="#FFFFFF">

        <Button row="0" col="0" class="btn btn-primary" text="Enable bluetooth" [isEnabled]="!BtnBluetoothEnabled" (tap)="enableBluetooth()"></Button>
        <Button row="0" col="1" *ngIf="!SelectedPrinter" class="btn btn-primary" text="Search Printers" (tap)="searchPrinters()"></Button>
        <Button row="0" col="2" *ngIf="SelectedPrinter" class="btn btn-primary" text="Disconnect" (tap)="disconnect()"></Button>

    </GridLayout> -->

    <GridLayout 
        row="1" 
        rows="*"
        columns="*,*">

        <StackLayout  
            row="0" colspan="2"
            marginLeft="15"
            marginRight="15"
            marginTop="10"
            marginBottom="10"
            *ngIf="!SelectedPrinter">

            <StackLayout  
                row="1" col="1"  
                horizontalAlignment="center"
                orientation="horizontal"
                borderWidth="1"
                borderColor="#263238"
                background="#263238"
                borderRadius="3"
                width="100%"
                (tap)="searchPrinters()">
                <Label
                    text="&#Xf002;" 
                    fontSize="16"
                    paddingLeft="10"
                    paddingRight="5"
                    paddingTop="10"
                    paddingBottom="10"
                    style.textAlignment="center"
                    color="#FFFFFF" 
                    class="fas">
                </Label> 
                
                <Label 
                    text="Search Printer" 
                    class="ubuntu-regular" 
                    fontSize="16" 
                    color="#FFFFFF"
                    paddingTop="10"
                    paddingBottom="10"
                    paddingRight="10"
                    style.textAlignment="center">
                </Label> 
            </StackLayout>
            
        </StackLayout>
        <StackLayout  
            row="0" colspan="2"
            marginLeft="15"
            marginRight="15"
            marginTop="10"
            marginBottom="10"
            *ngIf="SelectedPrinter">

            <StackLayout  
                row="1" colspan="1"  
                horizontalAlignment="center"
                orientation="horizontal"
                borderWidth="1"
                background="#263238"
                borderColor="#004D40"
                borderRadius="3"
                width="100%"
                (tap)="disconnect()">
                <Label
                    text="&#Xf09e;" 
                    fontSize="16"
                    paddingLeft="10"
                    paddingRight="5"
                    paddingTop="10"
                    paddingBottom="10"
                    style.textAlignment="center"
                    color="#FFFFFF" 
                    class="fas">
                </Label> 
                
                <Label 
                    text="Disconnect" 
                    class="ubuntu-regular" 
                    fontSize="16" 
                    color="#FFFFFF"
                    paddingTop="10"
                    paddingBottom="10"
                    paddingRight="10"
                    style.textAlignment="center">
                </Label> 
            </StackLayout>
            
        </StackLayout>
       


    </GridLayout>
  

    <ListView row="2"  [items]="ListData" (itemTap)="onItemTap($event)" separatorColor="#ccc">
        <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
            <!-- The item template can only have a single root view container (e.g. GridLayout, StackLayout, etc.)-->
            <GridLayout
                rows="*"
                columns="auto,*">
                <Label
                    row="0" col="0"
                    text="&#Xf02f;" 
                    fontSize="15"
                    horizontalAlignment="center"
                    verticalAlignment="center"
                    marginLeft="15"
                    marginRight="15"
                    paddingTop="15"
                    paddingBottom="15"
                    color="#424242" 
                    class="fas">
                </Label>
                <Label
                    row="0" col="1" 
                    text="{{item.modelName}} ({{item.portName}})" 
                    class="ubuntu-regular"
                    paddingLeft="5"
                    paddingRight="5"
                    paddingTop="15"
                    paddingBottom="15"
                    marginRight="5"
                    color="#000"
                    fontSize="15">
                </Label>
            </GridLayout>
        </ng-template>
    </ListView>

</GridLayout>



