
<GridLayout 
rows="auto,*,auto">

    <GridLayout
        row="0" 
        rows="*"
        columns="auto,*"
        background="#FFFFFF"
        height="50"
        id="bar">
        <Label
            row="0" col="0"
            text="&#Xf060;" 
            fontSize="20"
            horizontalAlignment="center"
            verticalAlignment="center"
            paddingLeft="15"
            paddingRight="25"
            color="#212121" 
            class="fas"
            (tap)="BackToPageBefore()">
        </Label>
        <Label 
            row="0" col="1"
            text="Change Password" 
            class="ubuntu-regular"
            color="#212121"
            marginRight="5"
            horizontalAlignment="left"
            verticalAlignment="center"
            fontSize="18">
        </Label>
    </GridLayout>

    <ScrollView row="1" orientation="vertical" id="scrollview">

        <StackLayout
            orientation="vertical"
            marginLeft="15"
            marginRight="15"
            marginBottom="10">

            <label 
                text="Old Password (Required)" 
                class="ubuntu-regular"
                marginTop="15"
                marginBottom="15" 
                fontSize="14" 
                color="#000"
                horizontalAlignment="left">
            </label>
            <TextField 
                height="35"
                hint="Type Old Password" 
                [(ngModel)]="OldPassword"
                secure="true"
                class="ubuntu-regular" 
                fontSize="14" 
                color="#000"
                width="96%" 
                verticalAlignment="center"
                horizontalAlignment="left"
                background="#ECEFF1" 
                borderRadius="5"
                paddingLeft="15"
                paddingRight="15"
                paddingTop="6"
                paddingBottom="6"
                width="100%"
                returnKeyType="next">
            </TextField>

            <label 
                text="New Password (Required)" 
                class="ubuntu-regular"
                marginTop="15"
                marginBottom="15" 
                fontSize="14" 
                color="#000"
                horizontalAlignment="left">
            </label>
            <TextField 
                height="35"
                hint="Type Old Password" 
                [(ngModel)]="NewPassword"
                secure="true"
                class="ubuntu-regular" 
                fontSize="14" 
                color="#000"
                width="96%" 
                verticalAlignment="center"
                horizontalAlignment="left"
                background="#ECEFF1" 
                borderRadius="5"
                paddingLeft="15"
                paddingRight="15"
                paddingTop="6"
                paddingBottom="6"
                width="100%"
                returnKeyType="next">
            </TextField>

            <label 
                text="Repeat New Password (Required)" 
                class="ubuntu-regular"
                marginTop="15"
                marginBottom="15" 
                fontSize="14" 
                color="#000"
                horizontalAlignment="left">
            </label>
            <TextField 
                height="35"
                hint="Type Old Password" 
                [(ngModel)]="RepeatPassword"
                secure="true"
                class="ubuntu-regular" 
                fontSize="14" 
                color="#000"
                width="96%" 
                verticalAlignment="center"
                horizontalAlignment="left"
                background="#ECEFF1" 
                borderRadius="5"
                paddingLeft="15"
                paddingRight="15"
                paddingTop="6"
                paddingBottom="6"
                width="100%"
                returnKeyType="done">
            </TextField>
			
			 <label 
                text="Password is a combination of letters, numbers and symbols (min. 10 digits). The first digit uses capital letters" 
                class="ubuntu-regular"
                marginTop="15"
                marginBottom="5" 
                fontSize="14" 
                color="#000"
                horizontalAlignment="left">
            </label>
			 <label 
                text="Ex : Pinangsia1!" 
                class="ubuntu-regular"
                marginTop="5"
                marginBottom="15" 
                fontSize="14" 
                color="#000"
                horizontalAlignment="left">
            </label>
			
            <StackLayout  
                marginTop="20"
                marginBottom="10">
    
                <StackLayout  
                    row="1" col="1"  
                    horizontalAlignment="center"
                    orientation="horizontal"
                    borderWidth="1"
                    borderColor="#263238"
                    background="#263238"
                    borderRadius="3"
                    width="100%"
                    (tap)="SubmitUpdatePassword()">
                    <Label
                        text="&#Xf023;" 
                        fontSize="16"
                        paddingLeft="10"
                        paddingRight="5"
                        paddingTop="10"
                        paddingBottom="10"
                        style.textAlignment="center"
                        color="#FFFFFF" 
                        class="fas">
                    </Label> 
                    
                    <Label 
                        text="Change"
                        class="ubuntu-regular" 
                        fontSize="16" 
                        color="#FFFFFF"
                        paddingTop="10"
                        paddingBottom="10"
                        paddingRight="10"
                        style.textAlignment="center">
                    </Label> 
                </StackLayout>
                
            </StackLayout>

        </StackLayout>

    </ScrollView>


</GridLayout>



