.home-bg-color{
  background: #108dc7;  /* fallback for old browsers */
}

.custome-security-id{
    font-size: 16px;
    margin: 50px 50px 0 50px;
    color:#fff;
}
.custome-security-name{
    font-size: 20px;
    margin: 0 50px 10px 50px;
    color:#fff;
}

.home-icon-scan{
    margin-top:20px;
    font-size: 30px;
    text-align: center;
}

.home-text-scan{
    font-size: 14px;
    text-align: center;
}


.far {
    font-family: "Font Awesome 5 Free", "fa-regular-400";
}

.fab {
    font-family: "Font Awesome 5 Brands", "fa-brands-400";
}

.fas {
    font-family: "Font Awesome 5 Free", "fa-solid-900";
}

.ico {
    font-family: "IcoMoon-Free";
}

.ubuntu-16-regular{
    font-size: 16;
    font-family: "Ubuntu-Regular";
    color: #fff;
}

.ubuntu-16-regular-black{
    font-size: 16;
    font-family: "Ubuntu-Regular";
    color: #000;
}

.data-name-font{
    font-size: 17;
    font-family: "Ubuntu-Regular";
    color: #000;
}

.btn-absent{
    color:#000;
}

.data-status-font{
    font-size: 10;
    font-family: "Ubuntu-Regular";
    color: #000;
}