<StackLayout orientation="vertical" width="100%" height="100%"
    backgroundColor="#EEEEEE">
    <StackLayout orientation="vertical" width="100%" height="auto"
        class="home-bg-color" marginBottom="10">
        <Label text="34234525" class="custome-security-id ubuntu-16-regular">
        </Label>
        <Label text="Muhamad Ari Bima Dirgantoro"
            class="custome-security-name ubuntu-16-regular">
        </Label>
        <StackLayout orientation="vertical" width="80%" height="auto"
            borderRadius="3" margin="auto" marginBottom="20" marginTop="20"
            backgroundColor="transparent">
            <!-- <Label text="&#xf029;" class="fas home-icon-scan"></Label> -->
            <!-- <Label text="ABSENT" class="btn ubuntu-16-regular">
            </Label> -->
            <Button text="ABSENT" class="btn btn-absent ubuntu-16-regular"
                backgroundColor="#fff">
            </Button>
        </StackLayout>
    </StackLayout>
    <!-- <StackLayout orientation="vertical" width="80%" height="auto"
        borderRadius="5" margin="auto" marginBottom="20" marginTop="20"
        backgroundColor="transparent">
        <Label text="&#xf029;" class="fas home-icon-scan"></Label>
        <Label text="Please hit ABSENT Button to get tasks."
            class="ubuntu-16-regular-black">
        </Label>
    </StackLayout> -->
    <ScrollView orientation="vertical">
        <GridLayout rows="auto auto auto auto auto auto auto">
            <ng-container *ngFor="let data of RouteList; let i = index">
                <TextView editable="false" borderColor="#ECEFF1" height="auto"
                    (tap)="showModal()" row="{{i}}">
                    <FormattedString>
                        <Span text="{{data.name}} &#xA;" fontWeight="Bold"
                            class="data-name-font" fontSize="17">
                        </Span>
                        <Span *ngIf=" data.status==true" text="Active"
                            marginTop="10" fontStyle="Italic"
                            class="data-status-font"></Span>
                        <Span *ngIf="data.status == false" text="Inactive"
                            marginTop="10" fontStyle="Italic"
                            class="data-status-font"></Span>
                    </FormattedString>
                </TextView>
            </ng-container>
        </GridLayout>
    </ScrollView>
</StackLayout>