<GridLayout class="container">
    <StackLayout class="dataEntryLayout">
        <Image
            src="~/assets/image/app-logo-first-white.png" class="auth-img-signin">
        </Image>
        <StackLayout class="input-field">
            <TextField #inputRequired class="ubuntu-regular input"
                fontSize="16"
                [(ngModel)]="Username" hint="Username">
            </TextField>
        </StackLayout>
        <StackLayout class="input-field">
            <TextField #inputRequired class="ubuntu-regular input" 
                [(ngModel)]="Password" secure="true"
                fontSize="16"
                hint="Password">
            </TextField>
        </StackLayout>
        <!-- <Button text="Sign In" class="btn btn-signin btn-block ubuntu-regular{"
            (tap)="LoginButton()"></Button> -->
        <StackLayout 
            *ngIf="AuthLoading == false"
            class="btn btn-signin btn-block" 
            orientation="horizontal" padding="5" style="horizontal-align:center;"
            (tap)="LoginButton()">
            <Image
                src="~/assets/icon/SignInIcon.png" width="12%"
                marginRight="3">
            </Image>
            <label text="SIGN IN" class="ubuntu-regular" fontSize="20" style="color: #ee3923" verticalAlignment="center"></label>
        </StackLayout>
        <StackLayout 
            *ngIf="AuthLoading == true"
            class="btn btn-signin btn-block" 
            orientation="horizontal" padding="5" style="horizontal-align:center;">
            <Image
                src="~/assets/icon/SignInIcon-Disabled.png" width="12%"
                marginRight="3">
            </Image>
            <label text="SIGNING.." class="ubuntu-regular" fontSize="20" style="color: #f8a99f" verticalAlignment="center"></label>
        </StackLayout>
        <StackLayout  
            orientation="horizontal"
            marginTop="20" 
            padding="5"
            width="100%" 
            style="horizontal-align:center;"
            (tap)="ForgotPasswordClick()">
            <label 
                text="Forgot Password?" 
                class="ubuntu-regular" 
                fontSize="16" 
                style="color: #ffffff" 
                verticalAlignment="center">
            </label>
        </StackLayout>
    </StackLayout>
</GridLayout>