
.container{
  background: #004D40; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #004D40, #009688); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #004D40, #009688); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.dataEntryLayout{
    vertical-align: center; 
    width: 70%;
    margin: auto;
}

.auth-img-signin{
    width: 70%;
    margin: auto;
    margin-bottom: 150px;
    border-radius:3px;
}
