<GridLayout
    rows="auto,*">

    
    <GridLayout
        row="0" 
        rows="*"
        columns="auto,*"
        background="#FFFFFF"
        height="50"
        id="bar">
        <Label
            row="0" col="0"
            text="&#Xf060;" 
            fontSize="20"
            horizontalAlignment="center"
            verticalAlignment="center"
            paddingLeft="15"
            paddingRight="25"
            color="#212121" 
            class="fas"
            (tap)="BackToPageBefore()">
        </Label>
        <Label 
            row="0" col="1"
            text="Detail Formula" 
            class="ubuntu-regular"
            color="#212121"
            marginRight="5"
            horizontalAlignment="left"
            verticalAlignment="center"
            fontSize="18">
        </Label>
    </GridLayout>

    <PullToRefresh
        row="1" 
        *ngIf="isFormulaDetailLoading == false && isFormulaDetailEmpty == false"
        (refresh)="refreshDetail($event)" 
        color="black"> 
    
        <ScrollView orientation="vertical">

            <StackLayout
                orientation="vertical"
                backgroundColor="#FFFFFF"
                marginBottom="10">
                
                <GridLayout
                    rows="auto,*,auto,auto,auto,auto,auto,auto,auto,auto" 
                    columns="*,*"
                    backgroundColor="#FFFFFF"
                    borderBottomWidth="5"
                    paddingBottom="5"
                    borderColor="#CFD8DC">

                    <Label
                        row="0" colspan="2" 
                        class="ubuntu-medium" 
                        [text]="DetailData.MasterFormulaPoint_Name"
                        textWrap="true"
                        marginTop="5"
                        marginLeft="15"
                        marginRight="15"
                        marginBottom="5"
                        borderColor="#EEEEEE"
                        fontSize="22">
                    </Label>   
                    <Label
                        row="1" colspan="2" 
                        class="ubuntu-regular" 
                        [text]="DetailData.MasterFormulaPoint_Description"
                        textWrap="true"
                        marginTop="15"
                        marginLeft="15"
                        marginRight="15"
                        marginBottom="20"
                        fontSize="12x">
                    </Label>   
                    
                    <StackLayout
                        row="2" col="0"    
                        orientation="horizontal"
                        horizontalAlignment="Left">
                        <Label 
                            text="Minimum Expense" 
                            marginTop="3"
                            marginLeft="15" 
                            marginBottom="10"
                            fontSize="14"
                            color="#212121"
                            class="ubuntu-regular">
                        </Label>     
                    </StackLayout>    
                    <StackLayout
                        row="2" col="1"
                        orientation="horizontal"
                        horizontalAlignment="right">
                        <Label 
                            class="ubuntu-medium" 
                            text="{{DetailData.MasterFormulaPoint_MinimumExpense | currency:'Rp. ': 'symbol' : '1.0'}}"
                            textWrap="true"
                            marginTop="3"
                            marginRight="15"
                            marginBottom="10"
                            fontSize="14">
                        </Label>      
                    </StackLayout>
                    
                    <StackLayout
                        row="3" col="0"    
                        orientation="horizontal"
                        horizontalAlignment="Left">
                        <Label 
                            text="Multiple Expense" 
                            marginTop="3"
                            marginLeft="15" 
                            marginBottom="10"
                            fontSize="14"
                            color="#212121"
                            class="ubuntu-regular">
                        </Label>     
                    </StackLayout>    
                    <StackLayout
                        row="3" col="1"
                        orientation="horizontal"
                        horizontalAlignment="right">
                        <Label 
                            class="ubuntu-medium" 
                            text="{{DetailData.MasterFormulaPoint_MultipleExpense | currency:'Rp. ': 'symbol' : '1.0'}}"
                            textWrap="true"
                            marginTop="3"
                            marginRight="15"
                            marginBottom="10"
                            fontSize="14">
                        </Label>      
                    </StackLayout>

                    <StackLayout
                        row="4" col="0"    
                        orientation="horizontal"
                        horizontalAlignment="Left">
                        <Label 
                            text="Point Type" 
                            marginTop="3"
                            marginLeft="15" 
                            marginBottom="10"
                            fontSize="14"
                            color="#212121"
                            class="ubuntu-regular">
                        </Label>     
                    </StackLayout>    
                    <StackLayout
                        row="4" col="1"
                        orientation="horizontal"
                        horizontalAlignment="right">
                        <Label 
                            class="ubuntu-medium" 
                            text="{{DetailData.MasterPointType_Name}}"
                            textWrap="true"
                            marginTop="3"
                            marginRight="15"
                            marginBottom="10"
                            fontSize="14">
                        </Label>      
                    </StackLayout>

                    <StackLayout
                        row="5" col="0"    
                        orientation="horizontal"
                        horizontalAlignment="Left">
                        <Label 
                            text="Earned Point" 
                            marginTop="3"
                            marginLeft="15" 
                            marginBottom="10"
                            fontSize="14"
                            color="#212121"
                            class="ubuntu-regular">
                        </Label>     
                    </StackLayout>    
                    <StackLayout
                        row="5" col="1"
                        orientation="horizontal"
                        horizontalAlignment="right">
                        <Label 
                            class="ubuntu-medium" 
                            text="{{DetailData.MasterFormulaPoint_EarnedPoint}} Point"
                            textWrap="true"
                            marginTop="3"
                            marginRight="15"
                            marginBottom="10"
                            fontSize="14">
                        </Label>      
                    </StackLayout>

                    <StackLayout
                        *ngIf="DetailData.MasterFormulaPoint_StartDate != null"
                        row="6" col="0"    
                        orientation="horizontal"
                        horizontalAlignment="Left">
                        <Label 
                            text="Start Date" 
                            marginTop="3"
                            marginLeft="15" 
                            marginBottom="10"
                            fontSize="14"
                            color="#212121"
                            class="ubuntu-regular">
                        </Label>     
                    </StackLayout>    
                    <StackLayout
                        *ngIf="DetailData.MasterFormulaPoint_StartDate != null"
                        row="6" col="1"
                        orientation="horizontal"
                        horizontalAlignment="right">
                        <Label 
                            class="ubuntu-medium" 
                            text="{{DetailData.MasterFormulaPoint_StartDate | date: 'dd MMMM yyyy'}}"
                            textWrap="true"
                            marginTop="3"
                            marginRight="15"
                            marginBottom="10"
                            fontSize="14">
                        </Label>      
                    </StackLayout>

                    <StackLayout
                        *ngIf="DetailData.MasterFormulaPoint_EndDate != null"
                        row="7" col="0"    
                        orientation="horizontal"
                        horizontalAlignment="Left">
                        <Label 
                            text="End Date" 
                            marginTop="3"
                            marginLeft="15" 
                            marginBottom="10"
                            fontSize="14"
                            color="#212121"
                            class="ubuntu-regular">
                        </Label>     
                    </StackLayout>    
                    <StackLayout
                        *ngIf="DetailData.MasterFormulaPoint_EndDate != null"
                        row="7" col="1"
                        orientation="horizontal"
                        horizontalAlignment="right">
                        <Label 
                            class="ubuntu-medium" 
                            text="{{DetailData.MasterFormulaPoint_EndDate | date: 'dd MMMM yyyy'}}"
                            textWrap="true"
                            marginTop="3"
                            marginRight="15"
                            marginBottom="10"
                            fontSize="14">
                        </Label>      
                    </StackLayout>

                    <StackLayout
                        row="8" col="0"    
                        orientation="horizontal"
                        horizontalAlignment="Left">
                        <Label 
                            text="Special Formula" 
                            marginTop="3"
                            marginLeft="15" 
                            marginBottom="10"
                            fontSize="14"
                            color="#212121"
                            class="ubuntu-regular">
                        </Label>     
                    </StackLayout>    
                    <StackLayout
                        row="8" col="1"
                        orientation="horizontal"
                        horizontalAlignment="right">
                        <Label 
                            class="ubuntu-medium" 
                            text="{{DetailData.MasterFormulaPoint_IsSpecial ? 'Yes' : 'No'}}"
                            textWrap="true"
                            marginTop="3"
                            marginRight="15"
                            marginBottom="10"
                            fontSize="14">
                        </Label>      
                    </StackLayout>

                    <StackLayout
                        row="9" col="0"    
                        orientation="horizontal"
                        horizontalAlignment="Left">
                        <Label 
                            text="State" 
                            marginTop="3"
                            marginLeft="15" 
                            marginBottom="10"
                            fontSize="14"
                            color="#212121"
                            class="ubuntu-regular">
                        </Label>     
                    </StackLayout>    
                    <StackLayout
                        row="9" col="1"
                        orientation="horizontal"
                        horizontalAlignment="right">
                        <Label 
                            class="ubuntu-medium" 
                            text="{{DetailData.MasterFormulaPoint_IsActive ? 'Active' : 'Inactive'}}"
                            textWrap="true"
                            marginTop="3"
                            marginRight="15"
                            marginBottom="10"
                            fontSize="14">
                        </Label>      
                    </StackLayout>

                </GridLayout>
                
                <GridLayout
                    rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto" 
                    columns="*"
                    borderTopWidth="5"
                    borderColor="#CFD8DC">
                    <Label
                        row="0" colspan="2" 
                        class="ubuntu-medium" 
                        text="Applies to"
                        textWrap="true"
                        marginTop="15"
                        marginLeft="15"
                        marginRight="15"
                        marginBottom="5"
                        borderColor="#EEEEEE"
                        fontSize="16">
                    </Label>   
                    
                    <Label
                        *ngIf="DetailData.Site != null"
                        row="1" colspan="2" 
                        class="ubuntu-regular" 
                        text="Malls"
                        textWrap="true"
                        marginTop="15"
                        marginLeft="15"
                        marginRight="15"
                        marginBottom="5"
                        borderColor="#EEEEEE"
                        fontSize="14">
                    </Label>   
                    <WrapLayout
                        *ngIf="DetailData.Site != null"     
                        row="2"
                        col="0"
                        marginLeft="15"
                        marginRight="15"  
                        orientation="horizontal">
                        <ng-container *ngFor="let item of DetailData.Site; let i = index">
                            
                            <Label
                                class="ubuntu-medium"
                                borderRadius="5"
                                borderWidth="0.5"
                                padding="10"
                                marginLeft="2"
                                marginRight="2"
                                marginTop="5"
                                marginBottom="5"
                                fontSize="12" 
                                [text]="item.MasterSite_Name"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                background="#E0F2F1"
                                borderColor="#26A69A"
                                color="#212121">
                            </Label> 
                        </ng-container>
                    </WrapLayout>

                    <Label
                        *ngIf="DetailData.Merchant != null"
                        row="3" colspan="2" 
                        class="ubuntu-regular" 
                        text="Merchants"
                        textWrap="true"
                        marginTop="15"
                        marginLeft="15"
                        marginRight="15"
                        marginBottom="5"
                        borderColor="#EEEEEE"
                        fontSize="14">
                    </Label>   
                    <WrapLayout
                        *ngIf="DetailData.Merchant != null"     
                        row="4"
                        col="0"
                        marginLeft="15"
                        marginRight="15"  
                        orientation="horizontal">
                        <ng-container *ngFor="let item of DetailData.Merchant; let i = index">
                            
                            <Label
                                class="ubuntu-medium"
                                borderRadius="5"
                                borderWidth="0.5"
                                padding="10"
                                marginLeft="2"
                                marginRight="2"
                                marginTop="5"
                                marginBottom="5"
                                fontSize="12" 
                                [text]="item.MasterMerchant_Name"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                background="#E0F2F1"
                                borderColor="#26A69A"
                                color="#212121">
                            </Label> 
                        </ng-container>
                    </WrapLayout>

                    <Label
                        *ngIf="DetailData.StoreCategory != null"
                        row="5" colspan="2" 
                        class="ubuntu-regular" 
                        text="Store Categories"
                        textWrap="true"
                        marginTop="15"
                        marginLeft="15"
                        marginRight="15"
                        marginBottom="5"
                        borderColor="#EEEEEE"
                        fontSize="14">
                    </Label>   
                    <WrapLayout
                        *ngIf="DetailData.StoreCategory != null"     
                        row="6"
                        col="0"
                        marginLeft="15"
                        marginRight="15"  
                        orientation="horizontal">
                        <ng-container *ngFor="let item of DetailData.StoreCategory; let i = index">
                            
                            <Label
                                class="ubuntu-medium"
                                borderRadius="5"
                                borderWidth="0.5"
                                padding="10"
                                marginLeft="2"
                                marginRight="2"
                                marginTop="5"
                                marginBottom="5"
                                fontSize="12" 
                                [text]="item.MasterStoreCategory_Name"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                background="#E0F2F1"
                                borderColor="#26A69A"
                                color="#212121">
                            </Label> 
                        </ng-container>
                    </WrapLayout>

                    <Label
                        *ngIf="DetailData.PaymentMethode != null"
                        row="7" colspan="2" 
                        class="ubuntu-regular" 
                        text="Payment Methode : {{DetailData.PaymentMethode[0].MasterTransactionType_Name}}"
                        textWrap="true"
                        marginTop="15"
                        marginLeft="15"
                        marginRight="15"
                        marginBottom="5"
                        borderColor="#EEEEEE"
                        fontSize="14">
                    </Label>   
                    <WrapLayout
                        *ngIf="DetailData.PaymentMethode != null && DetailData.PaymentMethode[0].MasterTransactionType_ID != 1"     
                        row="8"
                        col="0"
                        marginLeft="15"
                        marginRight="15"  
                        orientation="horizontal">
                        <ng-container *ngFor="let item of DetailData.PaymentMethode; let i = index">
                            
                            <Label
                                *ngIf="item.MasterBank_Name != null"
                                class="ubuntu-medium"
                                borderRadius="5"
                                borderWidth="0.5"
                                padding="10"
                                marginLeft="2"
                                marginRight="2"
                                marginTop="5"
                                marginBottom="5"
                                fontSize="12" 
                                [text]="item.MasterBank_Name"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                background="#E0F2F1"
                                borderColor="#26A69A"
                                color="#212121">
                            </Label> 
                            <Label
                                *ngIf="item.MasterEWallet_Name != null"
                                class="ubuntu-medium"
                                borderRadius="5"
                                borderWidth="0.5"
                                padding="10"
                                marginLeft="2"
                                marginRight="2"
                                marginTop="5"
                                marginBottom="5"
                                fontSize="12" 
                                [text]="item.MasterBank_Name"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                background="#E0F2F1"
                                borderColor="#26A69A"
                                color="#212121">
                            </Label> 

                        </ng-container>
                    </WrapLayout>


                    <Label
                        *ngIf="DetailData.CardType != null"
                        row="9" colspan="2" 
                        class="ubuntu-regular" 
                        text="Card Type"
                        textWrap="true"
                        marginTop="15"
                        marginLeft="15"
                        marginRight="15"
                        marginBottom="5"
                        borderColor="#EEEEEE"
                        fontSize="14">
                    </Label>   
                    <WrapLayout
                        *ngIf="DetailData.CardType != null"     
                        row="10"
                        col="0"
                        marginLeft="15"
                        marginRight="15"  
                        orientation="horizontal">
                        <ng-container *ngFor="let item of DetailData.CardType; let i = index">
                            
                            <Label
                                class="ubuntu-medium"
                                borderRadius="5"
                                borderWidth="0.5"
                                padding="10"
                                marginLeft="2"
                                marginRight="2"
                                marginTop="5"
                                marginBottom="5"
                                fontSize="12" 
                                [text]="item.MasterMemberCardType_Name"
                                verticalAlignment="center"
                                horizontalAlignment="left"
                                background="#E0F2F1"
                                borderColor="#26A69A"
                                color="#212121">
                            </Label> 
                        </ng-container>
                    </WrapLayout>

                </GridLayout>

            </StackLayout>

        </ScrollView>

    </PullToRefresh>


</GridLayout>


