<!--True-->
<StackLayout 
    *ngIf="isTransaction == true"
    orientation="vertical" 
    verticalAlignment="center">
    <Label 
        row="0" col="0"    
        text="&#Xf058;" 
        marginLeft="5" 
        fontSize="150"
        color="#00897B"
        horizontalAlignment="center" 
        class="far"></Label>
    <label 
        text="Redeem Success!" 
        class="ubuntu-medium" 
        fontSize="18"
        marginTop="10" 
        color="#212121"
        horizontalAlignment="center">
    </label>

    <GridLayout
        rows="auto"
        columns="auto,auto" 
        orientation="horizontal"
        margin="15"
        horizontalAlignment="center"
        (tap)="PrintReceipt()">
        <label 
            row="0" col="0"
            text="&#Xf02f;" 
            class="fas" 
            fontSize="18"
            marginRight="5"
            color="#004D40"
            horizontalAlignment="center">
        </label>
        <label 
            row="0" col="1"
            text="Print Receipt" 
            class="ubuntu-medium" 
            fontSize="18"
            color="#004D40"
            horizontalAlignment="center">
        </label>
    </GridLayout>

    <GridLayout
        rows="auto"
        columns="auto,auto" 
        orientation="horizontal"
        margin="15"
        horizontalAlignment="center"
        (tap)="BackToPageBefore(false)">
        <label 
            row="0" col="0"
            text="&#Xf060;"
            class="fas" 
            fontSize="14"
            marginRight="5"
            color="#212121"
            horizontalAlignment="center">
        </label>
        <label 
            row="0" col="1"
            text="Go Back" 
            class="ubuntu-medium" 
            fontSize="14"
            color="#212121"
            horizontalAlignment="center">
        </label>
    </GridLayout>

</StackLayout>

<!--False-->
<StackLayout 
    *ngIf="isTransaction == false"
    orientation="vertical" 
    verticalAlignment="center">
    <Label 
        row="0" col="0"    
        text="&#Xf119;" 
        marginLeft="5" 
        fontSize="150"
        color="#C62828"
        horizontalAlignment="center" 
        class="far"></Label>
    <label 
        text="{{msg}}"
        textWrap="true" 
        class="ubuntu-medium" 
        fontSize="14"
        margin="10"
        marginTop="10" 
        color="#C62828"
        horizontalAlignment="center">
    </label>

    <GridLayout
        rows="auto"
        columns="auto,auto" 
        orientation="horizontal"
        margin="15"
        horizontalAlignment="center"
        (tap)="BackToPageBefore(true)">
        <label 
            row="0" col="0"
            text="&#Xf060;" 
            class="fas" 
            fontSize="14"
            marginRight="5"
            color="#212121"
            horizontalAlignment="center">
        </label>
        <label 
            row="0" col="1"
            text="Go Back" 
            class="ubuntu-medium" 
            fontSize="14"
            color="#212121"
            horizontalAlignment="center">
        </label>
    </GridLayout>

</StackLayout>