<GridLayout
    rows="auto,*,"
    (loaded)="onWrapperLoaded($event)">

    <GridLayout
        row="0" 
        rows="*"
        columns="auto,*,auto"
        background="#FFFFFF"
        height="50"
        id="bar">
        <Label
            row="0" col="0"
            text="&#Xf060;" 
            fontSize="20"
            horizontalAlignment="center"
            verticalAlignment="center"
            paddingLeft="15"
            paddingRight="25"
            color="#212121" 
            class="fas"
            (tap)="BackToPageBefore()">
        </Label>
        <TextField 
            row="0" col="1"
            class="ubuntu-regular sdk-input-keyword"
            margin="5"
            hint="Type Merchant's name.." 
            [(ngModel)]="keyword"
            (returnPress)="KeywordReturnPress()"
            (textChange)="KeywordChange()"
            returnKeyType="search"
            id="searchBar"
            fontSize="15">
        </TextField>
        <Label
            row="0" col="2"
            text="Cancel" 
            fontSize="16"
            horizontalAlignment="center"
            verticalAlignment="center" 
            color="#B71C1C"
            marginRight="15"
            marginLeft="15"
            class="ubuntu-regular"
            (tap)="TimesClick()">
        </Label>
    </GridLayout>

    <ListView  
        row="1" 
        *ngIf="isMerchantListEmpty == false"
        [items]="ListData" 
        (itemTap)="onItemTap($event)"
        marginTop="15"
        marginLeft="15" 
        marginRight="15" 
        separatorColor="#fff">
        <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
            <!-- The item template can only have a single root view container (e.g. GridLayout, StackLayout, etc.)-->
            <GridLayout
                rows="*"
                columns="auto,*">
                <Label
                    row="0" col="0"
                    text="&#Xf002;" 
                    fontSize="15"
                    horizontalAlignment="center"
                    verticalAlignment="center"
                    paddingTop="15"
                    paddingBottom="15"
                    color="#424242" 
                    class="fas">
                </Label>
                <Label
                    row="0" col="1" 
                    [text]="item.MasterMerchant_Name" 
                    class="ubuntu-regular"
                    paddingLeft="5"
                    paddingRight="5"
                    paddingTop="15"
                    paddingBottom="15"
                    color="#000"
                    fontSize="15">
                </Label>
            </GridLayout>
        </ng-template>
    </ListView>

    <StackLayout 
        row="1" 
        *ngIf="isMerchantListEmpty == true"
        orientation="vertical" 
        verticalAlignment="center">
        <Label 
            row="0" col="0"    
            text="&#Xf5c2;" 
            marginLeft="5" 
            fontSize="150"
            color="#90A4AE"
            horizontalAlignment="center" 
            class="far"></Label>
        <label 
            text="NO LIST FOUND!" 
            class="ubuntu-medium" 
            fontSize="18"
            marginTop="10" 
            color="#90A4AE"
            horizontalAlignment="center">
        </label>

        <GridLayout
            rows="auto"
            columns="auto,auto,auto" 
            orientation="horizontal"
            margin="15"
            horizontalAlignment="center"
            (tap)="BackAfterListEmpty()">
            <label 
                row="0" col="0"
                text="Tap to " 
                class="ubuntu-medium" 
                fontSize="14"
                color="#90A4AE"
                horizontalAlignment="center">
            </label>
            <label 
                row="0" col="1"
                text="Refresh" 
                class="ubuntu-medium" 
                fontSize="14"
                color="#00695C"
                horizontalAlignment="center">
            </label>
            <label 
                row="0" col="2"
                text=" this Page. " 
                class="ubuntu-medium" 
                fontSize="14"
                color="#90A4AE"
                horizontalAlignment="center">
            </label>
        </GridLayout>

    </StackLayout>

</GridLayout>


