<StackLayout orientation="vertical" width="100%" height="100%"
    backgroundColor="#EEEEEE">
    <StackLayout orientation="vertical" width="100%" height="auto"
        class="home-bg-color" marginBottom="10">
        <StackLayout orientation="vertical" width="80%" height="auto"
            borderRadius="5" margin="auto" marginBottom="20" marginTop="20"
            backgroundColor="transparent">
            <!-- <Label text="&#xf029;" class="fas home-icon-scan"></Label> -->
            <Label text="History" class="home-text-scan ubuntu-16-regular">
            </Label>
        </StackLayout>
    </StackLayout>
    <Label text="December 21, 2019" class="history-date-font">
    </Label>
    <ScrollView orientation="vertical">
        <GridLayout rows="auto auto auto auto auto auto auto">
            <ng-container *ngFor="let data of RouteList; let i = index">
                <TextView editable="false" borderColor="#ECEFF1" height="auto"
                    (tap)="showModal()" row="{{i}}">
                    <FormattedString>
                        <!-- <Span text="December 21, 2019 &#xA;"
                            class="history-date-font">
                        </Span> -->
                        <Span text="{{data.name}} &#xA;" fontWeight="Bold"
                            class="data-name-font">
                        </Span>
                        <Span text="Detail : {{data.detail}} &#xA;"
                            class="data-child-font">
                        </Span>
                    </FormattedString>
                </TextView>
            </ng-container>
        </GridLayout>
    </ScrollView>
</StackLayout>