
<GridLayout
rows="auto,*,auto" 
columns="*">

<StackLayout
    row="0" col="0" 
    orientation="vertical"
    horizontalAlignment="center">
    <Image
        *ngIf="DetailData.MasterMemberCardType_Picture != ''" [src]="APIURL+DetailData.MasterMemberCardType_Picture"></Image>
    <Image 
        *ngIf="DetailData.MasterMemberCardType_Picture == ''" src="~/assets/image/no-image.png"></Image>    
    <Label 
        class="list-group-DetailData-heading ubuntu-medium"
        marginTop="10"
        marginLeft="15"
        marginRight="15"
        marginBottom="10"
        fontSize="16" 
        [text]="DetailData.MasterMemberCardType_Name">
    </Label>       
</StackLayout>
    
<ScrollView orientation="vertical" row="1" col="0" >

    <StackLayout
        orientation="vertical">
        
        <GridLayout
            rows="*,auto,auto,auto,auto,auto" 
            columns="*,*">
            
            <Label
                row="0" colspan="2" 
                class="ubuntu-regular" 
                [text]="DetailData.MasterMemberCardType_Description"
                textWrap="true"
                marginTop="5"
                marginLeft="15"
                marginRight="15"
                marginBottom="10"
                paddingBottom="10"
                borderBottomWidth="1"
                borderColor="#EEEEEE"
                fontSize="12">
            </Label>   
            
            <StackLayout
                row="1" colspan="2"    
                orientation="horizontal"
                horizontalAlignment="Left">
                <Label 
                    text="&#Xf005;" 
                    marginTop="3"
                    marginLeft="15" 
                    marginBottom="10"
                    fontSize="12"
                    color="#616161" 
                    class="fas"></Label>
                <Label 
                    class="ubuntu-regular" 
                    [text]="'Tier Level ' + DetailData.MasterMemberCardType_TierLevel"
                    marginTop="3"
                    marginLeft="10"
                    marginBottom="10"
                    color="#616161"
                    fontSize="12">
                </Label>     
            </StackLayout>    

            <StackLayout
                row="2" colspan="2"
                orientation="horizontal"
                horizontalAlignment="left">
                <Label 
                    text="&#Xf53d;" 
                    marginTop="3"
                    marginLeft="15" 
                    marginBottom="10"
                    fontSize="12"
                    color="#616161" 
                    class="fas"></Label>
                <Label 
                    class="ubuntu-regular" 
                    text="Minimum Expense {{DetailData.MasterMemberCardType_MinimumExpense | currency:'Rp. ': 'symbol' : '1.0'}}"
                    textWrap="true"
                    marginTop="3"
                    marginLeft="10" 
                    marginRight="15"
                    marginBottom="10"
                    color="#616161"
                    fontSize="12">
                </Label>      
            </StackLayout>

            <StackLayout
                row="3" colspan="2"
                orientation="horizontal"
                horizontalAlignment="left">
                <Label 
                    text="&#Xf53d;" 
                    marginTop="3"
                    marginLeft="15" 
                    marginBottom="10"
                    fontSize="12"
                    color="#616161" 
                    class="fas"></Label>
                <Label 
                    *ngIf="DetailData.MasterMemberCardType_TargetAmount != 0" 
                    class="ubuntu-regular" 
                    text="Target Amount {{DetailData.MasterMemberCardType_TargetAmount | currency:'Rp. ': 'symbol' : '1.0'}}"
                    textWrap="true"
                    marginTop="3"
                    marginLeft="10" 
                    marginRight="15"
                    marginBottom="10"
                    color="#616161"
                    fontSize="12">
                </Label>      
                <Label 
                    *ngIf="DetailData.MasterMemberCardType_TargetAmount == 0" 
                    class="ubuntu-regular" 
                    text="No Target"
                    textWrap="true"
                    marginTop="3"
                    marginLeft="10" 
                    marginRight="15"
                    marginBottom="10"
                    color="#616161"
                    fontSize="12">
                </Label>      
            </StackLayout>
            
            <StackLayout
                row="4" colspan="2"
                orientation="horizontal"
                horizontalAlignment="left">
                <Label 
                    text="&#Xf51e;" 
                    marginTop="3"
                    marginLeft="15" 
                    marginBottom="10"
                    fontSize="12"
                    color="#616161" 
                    class="fas"></Label>
                <Label 
                    class="ubuntu-regular" 
                    [text]="'Max Point ' + DetailData.MasterMemberCardType_MaxPointPerMonth + ' /Month'"
                    textWrap="true" 
                    marginTop="3"
                    marginLeft="10" 
                    marginBottom="10"
                    color="#616161"
                    fontSize="12">
                </Label>      
            </StackLayout>
           
            <StackLayout
                row="5" colspan="2"
                orientation="horizontal"
                horizontalAlignment="left">
                <Label 
                    text="&#Xf3be;" 
                    marginTop="3"
                    marginLeft="15" 
                    marginBottom="10"
                    fontSize="12"
                    color="#616161" 
                    class="fas"></Label>
                <Label 
                    class="ubuntu-regular" 
                    [text]="'Level Down Evaluation ' + DetailData.MasterMemberCardType_LevelDownEvaluation + ' Month'"
                    textWrap="true"
                    marginTop="3"
                    marginLeft="10"
                    marginRight="15"
                    marginBottom="10"
                    color="#616161"
                    fontSize="12">
                </Label>      
            </StackLayout>     
        </GridLayout>    

    </StackLayout>
</ScrollView>

<StackLayout
    row="2" col="0" 
    width="100%"
    marginTop="3"
    background="#00897B"
    orientation="horizontal"
    horizontalAlignment="center"
    (tap)="CloseClick()">
    <Label 
        class="ubuntu-medium" 
        text="Close Detail"
        marginTop="3"
        marginLeft="10"
        marginRight="10"
        marginBottom="10"
        paddingTop="10"
        paddingBottom="5"
        color="#FFFFFF"
        fontSize="14">
    </Label>      
</StackLayout>   


</GridLayout>
