<ListView [items]="items" (itemTap)="onItemTap($event)" class="list-group">
    <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
        <!-- The item template can only have a single root view container (e.g. GridLayout, StackLayout, etc.)-->
        <GridLayout>
            <Label [text]="item.Name" class="ubuntu-regular list-group-item"></Label>
        </GridLayout>
    </ng-template>
</ListView>
