.ubuntu-regular{
    font-family: "Ubuntu-Regular";
    color: #000;
}
.ubuntu-medium{
    font-family: "Ubuntu-Medium";
    color: #000;
}

.ubuntu-bold{
    font-family: "Ubuntu-Bold";
    color: #000;
}

.far {
    font-family: "Font Awesome 5 Free", "fa-regular-400";
}

.fab {
    font-family: "Font Awesome 5 Brands", "fa-brands-400";
}

.fas {
    font-family: "Font Awesome 5 Free", "fa-solid-900";
}

.ico {
    font-family: "IcoMoon-Free";
}




.input{
    color:#fff;
    border-width: 1 1 1 1;
    border-color: #FAFAFA;
    background-color: transparent;
    margin-bottom: 20;
    padding: 30px 20px;
    border-radius:3;
    placeholder-color:#fff;
}

.btn-signin{
    background: #fff;
    color:#000;
    border-radius: 3px;
}

.btn-block{
    width: 100%;
}