
<GridLayout 
rows="auto,*,auto">

    <GridLayout
        row="0" 
        rows="*"
        columns="auto,*"
        background="#FFFFFF"
        height="50"
        id="bar">
        <Label
            row="0" col="0"
            text="&#Xf060;" 
            fontSize="20"
            horizontalAlignment="center"
            verticalAlignment="center"
            marginLeft="15"
            marginRight="15"
            color="#212121" 
            class="fas"
            (tap)="BackToPageBefore()">
        </Label>
        <Label 
            row="0" col="1"
            text="Customer Transaction" 
            class="ubuntu-regular"
            color="#212121"
            marginRight="5"
            horizontalAlignment="left"
            verticalAlignment="center"
            fontSize="18">
        </Label>
    </GridLayout>

    <ScrollView row="1" orientation="vertical" id="scrollview">

        <StackLayout
            orientation="vertical"
            marginLeft="15"
            marginRight="15"
            marginBottom="10">

            <Image
                borderTopLeftRadius="5"
                borderTopRightRadius="5"
                borderBottomLeftRadius="5"
                borderBottomRightRadius="5"
                margin="5"  
                [src]="Receipt.src"></Image>

            <label 
                text="Transaction Type" 
                class="ubuntu-regular"
                marginTop="15"
                marginBottom="15" 
                fontSize="14" 
                color="#000"
                horizontalAlignment="left">
            </label>
            <WrapLayout   
            orientation="horizontal">
                <ng-container *ngFor="let item of TransactionType; let i = index">
                    
                    <Label
                        class="ubuntu-medium"
                        borderRadius="5"
                        borderWidth="0.5"
                        [ngStyle]="
                            {
                                'background': item.Active == true ? '#E0F2F1' : '#ECEFF1', 
                                'border-color' : item.Active == true ? '#26A69A' : '#78909C'
                            }
                        "
                        padding="10"
                        marginLeft="2"
                        marginRight="2"
                        marginTop="2"
                        marginBottom="15"
                        fontSize="12" 
                        [text]="item.Name"
                        verticalAlignment="center"
                        horizontalAlignment="left"
                        color="#212121"
                        (tap)="ChooseTransactionType(i)">
                    </Label> 
                </ng-container>
            </WrapLayout >


            <label
                *ngIf="TransactionTypeSingle == 2 || TransactionTypeSingle == 3" 
                text="Bank" 
                class="ubuntu-regular"
                marginTop="15"
                marginBottom="15" 
                fontSize="14" 
                color="#000"
                horizontalAlignment="left">
            </label>
            <GridLayout
                *ngIf="TransactionTypeSingle == 2 || TransactionTypeSingle == 3" 
                rows="*"
                columns="*,auto"
                background="#ECEFF1" 
                orientation="horizontal"
                borderRadius="5"
                padding="6"
                width="100%"  
                horizontalAlignment="left">
                    <label
                        *ngIf="Bank.ID == null"  
                        row="0" col="0"
                        text="Choose Bank" 
                        class="ubuntu-regular" 
                        fontSize="14" 
                        color="#000"
                        marginLeft="2%"
                        marginRight="2%"
                        width="96%" 
                        verticalAlignment="center"
                        horizontalAlignment="left"
                        (tap)="GoToBankPage()">
                    </label>
                    <label
                        *ngIf="Bank.ID != null"  
                        row="0" col="0"
                        text="{{Bank.Name}}" 
                        class="ubuntu-regular" 
                        fontSize="14" 
                        color="#000"
                        marginLeft="2%"
                        marginRight="2%"
                        width="96%" 
                        verticalAlignment="center"
                        horizontalAlignment="left"
                        (tap)="GoToBankPage()">
                    </label>
                    <Label
                        *ngIf="Bank.ID == null" 
                        row="0" col="1"
                        text="&#Xf054;" 
                        fontSize="22"
                        horizontalAlignment="center"
                        verticalAlignment="center" 
                        color="#000"
                        marginRight="5"
                        marginLeft="15"
                        class="fas"
                        (tap)="GoToBankPage()">
                    </Label>
                    <Label
                        *ngIf="Bank.ID != null" 
                        row="0" col="1"
                        text="&#Xf057;" 
                        fontSize="22"
                        horizontalAlignment="center"
                        verticalAlignment="center" 
                        color="#B71C1C"
                        marginRight="5"
                        marginLeft="15"
                        class="far"
                        (tap)="TimesClick('Bank')">
                    </Label>
            </GridLayout>

            <label
                *ngIf="TransactionTypeSingle == 4"  
                text="E-Wallet" 
                class="ubuntu-regular"
                marginTop="15"
                marginBottom="15" 
                fontSize="14" 
                color="#000"
                horizontalAlignment="left">
            </label>
            <GridLayout
                *ngIf="TransactionTypeSingle == 4"  
                rows="*"
                columns="*,auto"
                background="#ECEFF1" 
                orientation="horizontal"
                borderRadius="5"
                padding="6"
                width="100%"  
                horizontalAlignment="left">
                    <label
                        *ngIf="EWallet.ID == null"  
                        row="0" col="0"
                        text="Choose E-Wallet" 
                        class="ubuntu-regular" 
                        fontSize="14" 
                        color="#000"
                        marginLeft="2%"
                        marginRight="2%"
                        width="96%" 
                        verticalAlignment="center"
                        horizontalAlignment="left"
                        (tap)="GoToEWalletPage()">
                    </label>
                    <label
                        *ngIf="EWallet.ID != null"  
                        row="0" col="0"
                        text="{{EWallet.Name}}" 
                        class="ubuntu-regular" 
                        fontSize="14" 
                        color="#000"
                        marginLeft="2%"
                        marginRight="2%"
                        width="96%" 
                        verticalAlignment="center"
                        horizontalAlignment="left"
                        (tap)="GoToEWalletPage()">
                    </label>
                    <Label
                        *ngIf="EWallet.ID == null" 
                        row="0" col="1"
                        text="&#Xf054;" 
                        fontSize="22"
                        horizontalAlignment="center"
                        verticalAlignment="center" 
                        color="#000"
                        marginRight="5"
                        marginLeft="15"
                        class="fas"
                        (tap)="GoToEWalletPage()">
                    </Label>
                    <Label
                        *ngIf="EWallet.ID != null" 
                        row="0" col="1"
                        text="&#Xf057;" 
                        fontSize="22"
                        horizontalAlignment="center"
                        verticalAlignment="center" 
                        color="#B71C1C"
                        marginRight="5"
                        marginLeft="15"
                        class="far"
                        (tap)="TimesClick('EWallet')">
                    </Label>
            </GridLayout>

            <label 
                text="Merchant" 
                class="ubuntu-regular"
                marginTop="15"
                marginBottom="15" 
                fontSize="14" 
                color="#000"
                horizontalAlignment="left">
            </label>
            <GridLayout
                rows="*"
                columns="*,auto"
                background="#ECEFF1" 
                orientation="horizontal"
                borderRadius="5"
                padding="6"
                width="100%"  
                horizontalAlignment="left">
                    <label
                        *ngIf="Merchant.ID == null"  
                        row="0" col="0"
                        text="Choose Merchant" 
                        class="ubuntu-regular" 
                        fontSize="14" 
                        color="#000"
                        marginLeft="2%"
                        marginRight="2%"
                        width="96%" 
                        verticalAlignment="center"
                        horizontalAlignment="left"
                        (tap)="GoToMerchantPage()">
                    </label>
                    <label
                        *ngIf="Merchant.ID != null"  
                        row="0" col="0"
                        text="{{Merchant.Name}}" 
                        class="ubuntu-regular" 
                        fontSize="14" 
                        color="#000"
                        marginLeft="2%"
                        marginRight="2%"
                        width="96%" 
                        verticalAlignment="center"
                        horizontalAlignment="left"
                        (tap)="GoToMerchantPage()">
                    </label>
                    <Label
                        *ngIf="Merchant.ID == null" 
                        row="0" col="1"
                        text="&#Xf054;" 
                        fontSize="22"
                        horizontalAlignment="center"
                        verticalAlignment="center" 
                        color="#000"
                        marginRight="5"
                        marginLeft="15"
                        class="fas"
                        (tap)="GoToMerchantPage()">
                    </Label>
                    <Label
                        *ngIf="Merchant.ID != null" 
                        row="0" col="1"
                        text="&#Xf057;" 
                        fontSize="22"
                        horizontalAlignment="center"
                        verticalAlignment="center" 
                        color="#B71C1C"
                        marginRight="5"
                        marginLeft="15"
                        class="far"
                        (tap)="TimesClick('Merchant')">
                    </Label>
            </GridLayout>

            <label 
                text="Amount" 
                class="ubuntu-regular"
                marginTop="15"
                marginBottom="15" 
                fontSize="14" 
                color="#000"
                horizontalAlignment="left">
            </label>
            <TextField 
                height="35"
                hint="Rp. 0" 
                [(ngModel)]="Amount"
                class="ubuntu-regular" 
                fontSize="14" 
                color="#000"
                width="96%" 
                verticalAlignment="center"
                horizontalAlignment="left"
                background="#ECEFF1" 
                borderRadius="5"
                paddingLeft="15"
                paddingRight="15"
                paddingTop="6"
                paddingBottom="6"
                width="100%"
                keyboardType="number"
                returnKeyType="next">
            </TextField>

            <label 
                text="Receipt Number (optional)" 
                class="ubuntu-regular"
                marginTop="15"
                marginBottom="15" 
                fontSize="14" 
                color="#000"
                horizontalAlignment="left">
            </label>
            <TextField 
                height="35"
                hint="Type Receipt" 
                [(ngModel)]="ReceiptNumber"
                class="ubuntu-regular" 
                fontSize="14" 
                color="#000"
                width="96%" 
                verticalAlignment="center"
                horizontalAlignment="left"
                background="#ECEFF1" 
                borderRadius="5"
                paddingLeft="15"
                paddingRight="15"
                paddingTop="6"
                paddingBottom="6"
                width="100%"
                returnKeyType="done">
            </TextField>

        </StackLayout>

    </ScrollView>

    <StackLayout
        row="2"  
        orientation="horizontal"
        background="#00695C"
        width="90%"
        height="40"
        marginBottom="15"
        borderRadius="5"
        horizontalAlignment="center"
        (tap)="SubmitTransaction()">
        <Label 
            text="&#Xf1d8;" 
            fontSize="14"
            color="#FFFFFF"
            verticalAlignment="center" 
            class="far"></Label>
        <Label 
            class="ubuntu-regular"
            marginLeft="8" 
            text="SUBMIT TRANSACTION"
            color="#FFFFFF"
            verticalAlignment="center"
            fontSize="14">
        </Label>     
    </StackLayout>  



</GridLayout>



